<%
# Vue de la liste des analyses
#
# Ouvert à tout visiteur même non identifié ou non abonné.
%>

<%
def user_autorized?
  user.subscribed? || user.analyste? || user.admin?
end
%>

<%= FilmAnalyse::titre_h1("Liste des analyses") %>
<% if user_autorized? %>
  <%= FilmAnalyse::liste_analyses_completed %>
  <%= FilmAnalyse::liste_analyses_lisibles %>
  <%= FilmAnalyse::liste_analyses_not_completed %>
<% else %>
  <%= FilmAnalyse::liste_analyses_autorized %>
  <%= FilmAnalyse::liste_analyses_non_autorized %>
<% end %>

<h3>Archives</h3>
<% FilmAnalyse::require_module 'archives' %>
<p class="small italic">Différentes analyses plus ou moins développées (de la simple note à l'analyse statistique complète) émanant de travaux plus lointains</p>
<%= FilmAnalyse::archive_films_list(as: :ul) %>
