<%
# Vue de la liste des analyses
#
# Ouvert à tout visiteur même non identifié ou non abonné.
# Relève des films
#
# Note : Tous les films lisibles sont affichés, même pour un
# user n'ayant pas les privilèges de lire les analyses, afin qu'il
# puissse se faire une idée des avantages de l'inscription/abonnement.

page.title = "Analyses de films"

%>
<%= FilmAnalyse::titre_h1("Liste des analyses") %>
<p class='small italic'>
  <% if user.subscribed? || user.real_analyste? || user.admin? %>
  En tant qu'<%=
  case true
  when user.subscribed?     then "abonné"
  when user.real_analyste?  then "analyste"
  when user.admin?          then "administrateur"
  end
  %> vous avez un accès complet aux analyses de films.
  <% elsif user.identified? %>
  En tant que simple inscrit, vous avez un accès limité aux analyses de film. Pour un accès complet, merci de <%= lien.subscribe("vous abonner") %>.
  <% else %>
  En tant que simple visiteur, votre accès aux analyses de films est limité à quelques films seulement. Pour un accès supérieur, merci de <%= lien.signup("#{DOIGT}vous inscrire") %> et pour <strong>un accès complet aux analyses</strong> merci de <%= lien.subscribe("#{DOIGT}soutenir le site en vous abonnant") %>.
  <% end %>
</p>

<div class="two_columns small">
  <div class="left_column">
    <%
      # ANALYSES ACHEVÉES
    %>
    <h4>Analyses achevées</h4>
    <p class='tiny italic'>Ici se trouvent toutes les analyses achevées et presque complètes.</p>
    <%= FilmAnalyse::TDM::traite :complete %>
  </div>
  <div class="right_column">
    <%
      # SIMPLES NOTES SUR DES FILMS
    %>
    <h4>Simples notes sur des films</h4>
    <p class='tiny italic'>Quelques notes prises sur des films.</p>
    <%= FilmAnalyse::TDM::traite :small %>
  </div>
</div>

<div class="two_columns small">
  <div class="left_column">
    <h4>Analyses en cours</h4>
    <%= FilmAnalyse::TDM::traite :en_cours %>
  </div>
  <div class="right_column">
    <h4>Analyses en projet</h4>
    <%= FilmAnalyse::TDM::traite :inacheves %>
  </div>
</div>
