<%
# Vue de la liste des analyses
#
# Ouvert à tout visiteur même non identifié ou non abonné.
# Relève des films
#
# Note : Tous les films lisibles sont affichés, même pour un
# user n'ayant pas les privilèges de lire les analyses, afin qu'il
# puissse se faire une idée des avantages de l'inscription/abonnement.

page.title = "Analyses de films"

enable_comments
%>
<%= FilmAnalyse::titre_h1("Liste des analyses") %>
<p class='small italic'>
  <% if user.subscribed? || user.real_analyste? || user.admin? %>
  En tant qu'<%=
  case true
  when user.subscribed?     then "abonné"
  when user.real_analyste?  then "analyste"
  when user.admin?          then "administrateur"
  end
  %> vous avez un accès complet aux analyses de films.
  <% elsif user.identified? %>
  En tant que simple inscrit, vous avez un accès limité aux analyses de film. Pour un accès complet, merci de <%= lien.subscribe("vous abonner") %>.
  <% else %>
  En tant que simple visiteur, votre accès aux analyses de films est limité à quelques films seulement. Pour un accès supérieur, merci de <%= lien.signup("#{DOIGT}vous inscrire") %> et pour <strong>un accès complet aux analyses</strong> merci de <%= lien.subscribe("#{DOIGT}soutenir le site en vous abonnant") %>.
  <% end %>
</p>

<div class="two_columns small">
  <div class="left_column">
    <%
      # ANALYSES ACHEVÉES
    %>
    <% films_complete = FilmAnalyse::TDM::traite :complete %>
    <h4><%= films_complete.count %> analyses achevées</h4>
    <%= films_complete.as_ul %>
  </div>
  <div class="right_column">
    <%
      # SIMPLES NOTES SUR DES FILMS
    %>
    <%
      films_small = FilmAnalyse::TDM::traite :small
      s = films_small.count > 1 ? "s" : ""
    %>
    <h4>Simples notes sur <%= films_small.count %> film<%= s %></h4>
    <%= films_small.as_ul %>
  </div>
</div>

<div class="two_columns small">
  <div class="left_column">
    <%
      films_en_cours = FilmAnalyse::TDM::traite( :en_cours )
      s = films_en_cours.count > 1 ? "s" : ""
    %>
    <h4><%= films_en_cours.count %> analyse<%= s %> en cours</h4>
    <%= films_en_cours.as_ul %>
  </div>
  <div class="right_column">
    <% films_inacheves = FilmAnalyse::TDM::traite :inacheves %>
    <h4><%= films_inacheves.count %> analyses en projet</h4>
    <%= films_inacheves.as_ul %>
  </div>
</div>
