<%
# Vue de la liste des analyses
#
# Ouvert à tout visiteur même non identifié ou non abonné.
# Relève des films
#
# Note : Tous les films lisibles sont affichés, même pour un
# user n'ayant pas les privilèges de lire les analyses, afin qu'il
# puissse se faire une idée des avantages de l'inscription/abonnement.

page.title = "Analyses de films"
page.description = "Liste de tous les films analysés dans la section des analyses de films."

enable_comments
%>
<%= FilmAnalyse::titre_h2("Liste des analyses") %>

<div class="two_columns small">
  <div class="left_column">
    <%
      # ANALYSES ACHEVÉES
    %>
    <% films_complete = FilmAnalyse::TDM::traite :complete %>
    <h4><%= films_complete.count %> analyses achevées</h4>
    <%= films_complete.as_ul %>
  </div>
  <div class="right_column">
    <%
      # SIMPLES NOTES SUR DES FILMS
    %>
    <%
      films_small = FilmAnalyse::TDM::traite :small
      s = films_small.count > 1 ? "s" : ""
    %>
    <h4>Simples notes sur <%= films_small.count %> film<%= s %></h4>
    <%= films_small.as_ul %>
  </div>
</div>

<div class="two_columns small">
  <div class="left_column">
    <%
      films_en_cours = FilmAnalyse::TDM.traite( :en_cours )
      s = films_en_cours.count > 1 ? "s" : ""
    %>
    <h4><%= films_en_cours.count %> analyse<%= s %> en cours</h4>
    <%= films_en_cours.as_ul %>
  </div>
  <div class="right_column">
    <% films_inacheves = FilmAnalyse::TDM.traite :inacheves %>
    <h4><%= films_inacheves.count %> analyses en projet</h4>
    <%= films_inacheves.as_ul %>
  </div>
</div>
