<%
# Vue pour participer aux analyses de films
# FilmAnalyse::require_module 'analyse'

page.title = "Analyses de films"

%>
<%= FilmAnalyse::titre_h1("Participer aux analyses") %>
<p>
  Bonjour et merci à vous de vous intéresser aux analyses de film. Je vais  répondre sans tarder à la principale question que vous vous posez certainement concernant cette participation proposée : en quoi consiste-t-elle ? En d'autres termes :
</p>
<h3>Comment participer ?</h3>
<p>
  Cette participation peut avoir plusieurs axes :
</p>
<ul>
  <li>Procéder à la relève des informations d'un film (ce que j'appelle la <em>collecte</em>), de façon rigoureuse, suivant le protocole proposé par le site (cf. le <%= 'manuel d’analyse'.in_a(href: 'manuel/home?in=analyse') %> ). En consultant les analyses proposées ici, vous pouvez avoir une idée de ce en quoi consiste ces collectes ;</li>
  <li>Rédiger des articles d'analyse basés sur les résultats relevés au cours des collectes ;</li>
  <li>Si vous êtes programmeurs (ruby), travailler sur des outils pour exploiter au mieux les informations relevées dans les films.</li>
  <li>Tout autre travail que vous jugerez utile et que vous pourrez proposer aux administrateurs du site.</li>
</ul>

<h3>Demande de participation</h3>

<% if param(:proposition_participation_sent) == "1" %>
  <p>Vous avez envoyé votre demande de participation et nous vous en remercions. Phil devrait rapidement prendre contact avec vous.</p>
<% else %>
  <p>
    Si cette participation vous intéresse, merci de prendre contact avec Phil, analyste en chef, à l'aide du formulaire de contact ci-dessous.
  </p>
  <%
  site.require 'form_tools'
  form.prefix = 'participer'
  %>
  <form class="dim3070" action="analyse/participer" method="POST">
    <%= "proposer_participation".in_hidden(name:'operation') %>
    <% if user.identified? %>
      <%= form.field_hidden("", 'pseudo', user.pseudo) %>
      <%= form.field_hidden("", 'mail', user.mail, {confirmation:true}) %>
    <% else %>
      <%=form.field_text("Votre pseudo", 'pseudo', nil) %>
      <%=form.field_text("Votre mail", 'mail', nil, {confirmation: true})%>
    <% end %>
    <%= form.field_raw("", '', nil, {field:"Merci de préciser ci-dessous les raisons qui vous motive et les compétences que vous pourriez apporter à ce travail.".in_span(class:'small italic') }) %>
    <%= form.field_textarea("", 'raison', nil) %>
    <%= "Envoyer la demande de participation".in_submit(class:'btn medium').in_div(class:'buttons') %>
  </form>
<% end %>
