<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= TestedPage::Report.titre %></title>
    <link rel="stylesheet" href="master.css" media="screen" title="" charset="utf-8">
    <script type="text/javascript">
function DOMRemove(element_id, parent_id){
  document.getElementById(parent_id).removeChild(document.getElementById(element_id));
}
    </script>
  </head>
  <body>
    <h1><%= TestedPage::Report.titre %></h1>

    <!-- RAPPORT DES DONNÉES GÉNÉRALES -->
    <fieldset id="general_infos">
      <legend>Informations générales</legend>
      <%= TestedPage::Report.general_infos %>
    </fieldset>

    <!-- RAPPORT DES INVALIDITÉS -->
    <fieldset id="invalides">
      <legend>Routes/pages invalides</legend>
      <%
      # On met un div#linvalidites pour pouvoir détruire
      # avec removeChild par javascript (qui a besoin du
      # parent, puisque remove() est déconseillé).
      %>
      <div id="linvalidites">
        <%= TestedPage::Report.rapport_invalidites %>
      </div>
    </fieldset>

    <!-- RAPPORT DES FRÉQUENCES -->
    <fieldset id="frequences">
      <legend>Fréquence des appels</legend>
      <%= TestedPage::Report.rapport_frequence %>
    </fieldset>

  </body>
</html>
