<h2>Pourquoi donc s'inscrire ?</h2>
<p>
  Je suis comme vous, j'hésite souvent avant de m'inscrire sur un site que je ne connais pas encore bien. Alors pour mieux le connaitre, voici une page vous présentant quelques uns des avantages de l'inscription (gratuite) à <%= site.name %>.
</p>
<p class='small'>
  Notez au préalable qu'en vous inscrivant sur <%= site.name %>, site animé par une éthique très forte, vous pouvez être assuré que jamais la moindre action commerciale ne sera faite sur la base de vos informations (à commencer par votre adresse mèl qui ne sera en aucun cas et sous aucun prétexte revendue à un tiers).
</p>
<p>
  Les avantages de l'inscription sont les suivants :
</p>
<ul>
  <li>être informé des dernières actualités ;</li>
  <li>possibilité de consulter un plus grand nombre d'<%= lien.analyses("analyses de film") %> ;</li>
  <li>possibilité de participer à ces analyses ;</li>
  <li>possibilité de participer activement au <%= lien.forum("forum de discussion") %> ;</li>
  <li>et d'autres avantages dont la liste grandit de jour en jour.</li>
</ul>
<p>
  Mais vous pouvez obtenir encore plus de privilèges et de fonctionnalités en <%= lien.subscribe(" vous abonnant au site") %> pour la modique somme de <%= site.tarif_humain %> par an, soit à peine <%= site.tarif_humain_par_mois %>, en notant que cet abonnement de fidélité et d'encouragement permet aux rédacteurs de fournir le contenu de qualité que vous pouvez trouver ici.
</p>
<p>
  Mais avant cela, vous pouvez vouloir connaitre <%= "toutes les bonnes raisons de s'abonner".in_a(href:"aide/3/show") %>, non ?
</p>
