<h3>Heure fixe d'envoi seulement pour le rythme moyen</h3>

<p>
  Si vous suivez le programme <%= Unan::PROGNAME_DIM_MAJ %> et que vous avez choisi de recevoir le rapport quotidien d'état de votre travail, vos préférences vous permettent de choisir l'heure de réception de ce mail.
</p>

<p>
  Mais cette heure n'est valable que si votre rythme de travail est “Moyen”
  <%=
  if user.unanunscript?
    if user.program.rythme == 5
      ' (ce qui est justement votre cas ! ;-) )'
    else
      supinf = user.program.rythme > 5 ? 'supérieur' : 'inférieur'
      " (ce qui n’est pas votre cas, puisque votre rythme est #{supinf})"
    end
  else
    ' (ce qui n’est pas votre cas puisque vous ne suivez pas le programme)'
  end
  %>.
</p>

<p>
  Mais pourquoi donc ?
</p>

<p>
  D'abord, il faut comprendre que par défaut, c'est à l'heure où vous vous êtes inscrit<%= user.f_e %> que ce rapport est envoyé. Si vous vous êtes inscrit<%= user.f_e %> à 16h15, alors ce sera à 16 heures ou à 17 heures, tous les jours, que le rapport quotidien vous sera envoyé.
</p>

<p>
  Vous pouvez alors décider que ce rapport soit envoyé à 8 heures du matin, afin de prendre connaissance rapidement des travaux à faire dans la journée.
</p>
<p>
  Mais si vous n'êtes pas en <em>rythme moyen</em>, la durée des jours-programme ne correspond pas à la durée des jours réels. Un jour-programme peut durer par exemple 15 heures si vous avez accéléré votre rythme (ce que nous ne vous conseillons pas au début).
</p>

<p>
  Dans ce cas, le rapport ne peut pas être envoyé à heure fixe, il doit être envoyé à chaque changement réel de jour-programme. Donc, pour notre exemple, en imaginant que vous vous êtes inscrit<%= user.f_e %> à 10 heures du matin, les heures d'envoi seront :
</p>

<pre>
    (inscription : 10 heures)
    1 heure du matin le lendemain   // 10 heures + 15 heures)
    16 heures le même jour          // 1 heure   + 15 heures)
    7 heures le lendemain           // 16 heures + 15 heures)
    23 heures le même jour          // 7 heures  + 15 heures)
    etc.
</pre>
<p>
  Voilà pourquoi choisir l'heure d'envoi du rapport n'a de sens qu'en rythme moyen et ne sera donc pris en compte que si vous suivez le programme <%= Unan::PROGNAME_DIM_MAJ %> à ce rythme.
</p>
