<%
# Module de recherche dans la liste des citations
#
# Note : Il faut être abonné pour pouvoir utiliser ce module
# de recherche.
page.description= "Recherche de texte ou d'auteur parmi les citations d'auteurs."
enable_comments
%>
<%= Citation.titre_h2('Recherche') %>
<%
# ---------------------------------------------------------------------
#   FORMULAIRE DE RECHERCHE
# ---------------------------------------------------------------------
%>
<%
  site.require 'form_tools'
  form.prefix = 'squote'
  withResultat = param(:operation) == 'search_citations'
  debug "withResultat = #{withResultat}"
%>
<%= "Autre recherche".in_a(href:'citation/search', class: "#{withResultat ? '' : 'noDisplay'}").in_div(class:'right') %>
<form class="dim2080<%= withResultat ? ' noDisplay' : '' %>" action="citation/search" method="POST">
  <%= 'search_citations'.in_hidden(name: 'operation') %>
  <%= form.field_text('Chercher', 'searched') %>
  <%= form.field_checkbox('Parmi les noms d’auteur', 'in_auteur') %>
  <%= form.field_checkbox('Dans la citation', 'in_citation') %>
  <%= form.field_checkbox('Dans la source', 'in_source') %>
  <%= form.field_checkbox('Dans l’explicitation', 'in_explicitation') %>
  <%= form.field_checkbox('Trouver tous les mots', 'all_words') %>
  <%= form.field_description('Si cette case est cochée, tous les mots (séparés par des espaces) doivent être trouvés. Sinon, au moins un.') %>
  <%= form.submit_button('Chercher').in_div(class: 'buttons') %>
</form>

<%
# ---------------------------------------------------------------------
#   LISTE DES CITATIONS TROUVÉES
# ---------------------------------------------------------------------
%>
<% if param(:operation) == 'search_citations' %>
  <%= Citation::Search.resultat %>
<% end %>
