<%
# Section factures
page.description="Établissez vos factures d'auteur grâce à cet outil très pratique."
enable_comments
%>
<%= Facture.titre_h2 %>

<%
site.require 'form_tools'
form.prefix = 'facture'
%>
<script type="text/javascript">
TODAY_HUMAN = "<%= Time.now.to_i.as_human_date %>" ;
</script>


<%
# ---------------------------------------------------------------------
# 	Explication simple du processus en quatre étapes
%>
<ol id='description_processus' class='small tight hidden_when_print hidden_when_formate'>
  <li>Choisissez le type de montant,</li>
	<li>Indiquez le montant du contrat,</li>
	<li>Lancez le calcul en cliquant sur le bouton “Calculer”,</li>
	<li>Définissez les informations de la facture (client, objet, etc.),</li>
	<li>Mettez la facture en forme à l'aide du bouton “Mettre en forme”,</li>
	<li>Imprimez en cliquant sur le bouton “Imprimer” !</li>
</ol>

<%
# ---------------------------------------------------------------------
# 	Formulaire pour entrer le type de montant et le montant de la facture
#
%>
<div class="center hidden_when_print hidden_when_formate">
	<form class="dim3070 grand air inline border" action="facture/main" method="POST">
		<table cellpadding="10"><tr>
				<td><%= select_type_montant %></td>
				<td><%= input_text_montant %><span> €</span></td>
				<td><%= bouton_calculer %></td>
		</tr></table>
	</form>
</div>


<%
# ---------------------------------------------------------------------
# 	Boutons pour imprimer ou annuler
#
%>
<div class="hidden_when_calcul hidden_when_print air">
	<%= "Annuler".in_a(class:'btn', onclick:"$.proxy(Facture, 'cancel')()") %>
	<%= Facture::button_name_print.in_a(class:'btn', onclick:"$.proxy(Facture, 'print')()") %>
</div>

<%
# ---------------------------------------------------------------------
# 	LA FACTURE FINALE
%>
<div id="page_facture">

	<%= entete_facture %>

<div id="conteneur_facture">
<div id="div_facture" class='mode_calcul'>

	<!-- Montant HT -->
	<%= div_montant_facture 'ht', "Montant Hors-Taxe" %>

	<!-- TVA 5.5 % -->
	<div class="inner">
		<%= div_montant_facture "tva_5_5", "TVA 5,5 %" %>
	</div>

	<!-- MONTANT T.T.C. -->
	<%= div_montant_facture "ttc", "TOTAL TTC" %>

	<div id="libelle_a_deduire" class="hidden_when_calcul">À déduire (*) :</div>
	<div id="facture_deductions" class='inner'>
		<!-- Assurance maladie -->
		<%= div_montant_facture "maladie", "Assurance maladie 0,85 % sur HT" %>
		<!-- C.S.G. -->
		<%= div_montant_facture "csg", "CSG 7,5 % sur 97% de HT (<span id='97_pc_ht'>---</span>)" %>
		<!-- C.R.D.S -->
		<%= div_montant_facture "crds", "CRDS 0,5 % sur 97% de HT" %>
	</div>

	<!-- NET À PAYER -->
	<%= div_montant_facture "net", "NET À PAYER" %>

	<div class="hidden_when_calcul">
		<%= mention_arrondissements %>
		<%= signature_emetteur %>
		<%= emplacement_signature %>
	</div>

</div>
</div><!-- Conteneur pour centrer -->

<%
# / FACTURE INNER
# ---------------------------------------------------------------------
%>


</div>
<%
#
# / FIN DE LA PAGE DE FACTURE
# ---------------------------------------------------------------------
%>

<%
# ---------------------------------------------------------------------
# 	Formulaire pour les informations générales
%>

<form id="form_facture" class="dim3070 left hidden_when_formate" action="facture/main" method="POST">
	<%= form.field_text("Lieu", 'lieu', "Paris", {class:'medium'}) %>
	<%= form.field_text("Date", 'date', Time.now.to_i.as_human_date.gsub(/<(.*?)>/, ' ')) %>
	<%= form.separator %>
	<%= form.field_text("Émetteur (vous)", 'emetteur_name', nil, {placeholder:"Prénom NOM"}) %>
	<%= form.field_textarea("Adresse", 'emetteur_adresse') %>
	<%= form.field_text("Statut", 'emetteur_statut', "AUTEUR", {class:'medium'}) %>
	<%= form.separator %>
	<%= form.field_text("Client", 'client_name') %>
	<%= form.field_textarea("Adresse", 'client_adresse') %>
	<%= form.separator %>
	<%= form.field_text('Numéro facture', 'facture_numero', "XXX", {class:'medium'}) %>
	<%= form.field_text("Objet facture", 'facture_objet', "Développement du projet XXX") %>
</form>

<%
# ---------------------------------------------------------------------
#  BOUTONS
%>
<div class="right air hidden_when_print">
  <%= Facture::button_name_mise_en_forme.in_a(class:'btn hidden_when_formate', onclick:"$.proxy(Facture,'formate')()") %>
</div>
