<%
# Vue pour affiche un abs-pday
%>
<%= Unan::titre_h1("Jours-programme (aperçu)") %>
<%
def ipday
  @ipday ||= begin
    if site.current_route.objet == "abs_pday"
      Unan::Program::AbsPDay::get(site.current_route.objet_id)
    else
      nil
    end
  end
end
%>

<%
def boutons_navigations where
  precedent = ipday.id - 1
  suivant   = ipday.id + 1
  (
    ("← Jour #{precedent}".in_a(href:"abs_pday/#{precedent}/show?in=unan", class:'bold', visible:(precedent > 0) )).in_span(class:'navbtn left') +
    ("Jour #{suivant} →".in_a(href:"abs_pday/#{suivant}/show?in=unan", class:'bold', visible:(suivant < 366) )).in_span(class:'navbtn right')
  ).in_div(class:'small navbtns')
end
%>

<%= boutons_navigations(:top).in_div(class:'right') %>

<div class='pday'>
  <h3>
    <%= ipday.id %><sup><%= ipday.id == 1 ? 'er' : 'e' %></sup> P-Day :
    <%= ipday.titre %>
  </h3>
  <%= ipday.description.in_div(class:'description') %>
  <% ipday.works(:as_instances).each do |iwork| %>
    <%= iwork.as_card %>
  <% end %>
  <%= ipday.edit_buttons %>
</div>
