<%
# Formulaire d'édition d'un travail
%>

<%

# Requérir les outils pour la construction des formulaires
site.require 'form_tools'

%>
<form id="form_absolute_work" class="form2080" action="" method="POST">

  <%= form.field_text("ID", 'id', "", {class:'short'}) %>
  <%= form.field_description("Laissez vide pour qu'un nouvel identifiant inutilisé soit affecté à un nouveau travail.") %>

  <%= form.field_text("Titre", 'titre', "") %>
  <%= form.field_description("Le titre décrivant le plus précisément le travail à effectuer. Noter que ce travail fera partie d'un “P-Day” (“jour-programme”) qui pourra contenir d'autres travaux.") %>

  <%= form.submit_button("Enregistrer") %>
</form>
