<%
# Édition d'un p-day absolu
raise_unless_admin

page.add_javascript(PATH_MODULE_JS_SNIPPETS)

site.require 'form_tools'
form.prefix = 'pday'
form.objet  = if param(:pday).nil?
  if site.current_route.objet_id.nil?
    Hash.new
  else
    absday = Unan::Program::AbsPDay.new(site.current_route.objet_id)
    absday.exist? ? absday.get_all : {id: site.current_route.objet_id}
  end
else
  if param(:operation) == 'edit_abs_pday'
    # Noter ci-dessous qu'il faut prendre les `data` car
    # on se sert des méthodes crochets pour récupérer les
    # données et s'en servir dans le formulaire et les liens
    # ci-dessous.
    absday = Unan::Program::AbsPDay.new(param(:pday)[:id].to_i)
    absday.exist? ? absday.get_all : {id: param(:pday)[:id].to_i}
  else
    param(:pday)
  end
end

if form.objet
  lien_read_pday = "Afficher".in_a(href:"abs_pday/#{form.objet[:id]}", id:'lien_read_pday')
else
  lien_read_pday = ""
end


# Liste des travaux du jour-programme édité, avec un lien
# pour les éditer
def liste_linked_travaux
  if form.objet != nil && false == form.objet[:works].empty?
    form.objet[:works].split(' ').collect do |wid|
      aw = Unan::Program::AbsWork::new(wid.to_i)
      "[#{aw.id}] #{aw.titre}".in_a(href:"abs_work/#{wid}/edit?in=unan_admin", target:'_edit_work_').in_li
    end.join.in_ul(id: 'linked_works')
  else
    ""
  end
end

%>
<%= UnanAdmin::titre_h1("Jour-programme (édition)") %>

<script type="text/javascript">
function set_href_lien_read(o){
  $('a#lien_read_pday').attr('href', "abs_pday/"+o.value+"/read?in=unan");
}
</script>

<%

# Le lien pour éditer le work défini dans le champ ID
lien_to_edit_abspday = "éditer".in_a(class: 'small btn', onclick:"$('form#form_edit_pday_unan input#operation').val('edit_abs_pday');$('form#form_edit_pday_unan').submit();")

# Le lien pour détruire le travail courant
lien_to_destroy_current = "détruire".in_a(class:'small btn warning', onclick:"if(confirm('Es-tu CERTAIN de vouloir détruire DÉFINITIVEMENT ce P-Day ?')){$('form#form_edit_pday_unan input#operation').val('destroy_abs_pday');$('form#form_edit_pday_unan').submit();}")

lien_to_init_new = "Init new".in_a(onclick:"$.proxy(AbsPDay, 'init_new')()", class:'small btn')
%>
<%
# ---------------------------------------------------------------------
#   Le formulaire proprement dit
# ---------------------------------------------------------------------
%>
<form id="form_edit_pday_unan" class="dim2080" action="abs_pday/edit?in=unan_admin" method="POST">

  <%= "save_absolute_pday".in_hidden(name:'operation', id:'operation') %>

  <%= form.field_text('JOUR', 'id', nil, {class:'short id_field', onchange:"set_href_lien_read(this)", text_after: "#{lien_to_edit_abspday} #{lien_to_destroy_current} #{lien_to_init_new}"}) %>
  <%= form.field_description("Le JOUR est un nombre de 1 à 365 correspondant au jour dans l'année de ce P-Day de façon absolue, i.e. sans tenir compte du rythme (donc à rytme moyen avec 1 p-day = 1 jour réel).") %>

  <%= form.field_text('Titre', 'titre', nil) %>
  <%= form.field_description("Titre général pouvant caractériser ce jour de travail du programme. Il doit témoigner du travail principal de cette journée.") %>

  <%= form.field_textarea("Description", 'description', "") %>
  <%= form.field_description("Description générale du jour-programme.") %>

  <%= form.field_text("Works", 'works', nil) %>
  <%= form.field_description("Liste des travaux à accomplir, par ID et dans l'ordre où ils doivent être effectués, séparés par des simples espaces.") %>
  <%= form.field_raw("", "", nil, {field: liste_linked_travaux}) %>
  <%
  lien_creer_new_work = "Créer un nouveau travail".in_a(href:"abs_work/edit?in=unan_admin", target:'_new_work_')
  lien_list_works     = "Liste des travaux".in_a(href:"abs_work/list?in=unan_admin", target:'_list_works_')
  %>
  <%= form.field_raw("", "", nil, {field: "#{lien_creer_new_work} | #{lien_list_works}".in_div(class:'small')}) %>

  <%= form.field_text("Minimum Points", 'minimum_points', nil, {class:'short'}) %>
  <%= form.field_description("Nombre de points minimum qu'il faut acquérir pour considérer que le jour-programme est accompli. Ce nombre sera calculé par rapport au nombre de points de chaque travail en cas de non définition explicite ici.") %>

  <%= form.submit_button "Enregistrer" %>
</form>
<%
# ---------------------------------------------------------------------
#   Aide
# ---------------------------------------------------------------------
%>
<p>
  Noter qu'un travail lancé par un jour-programme peut s'étaler sur plusieurs jours (il le fait même en règle générale). La définition de ce jour-programme doit en tenir compte et ne pas répéter un travail déjà en route.
</p>
<p>
  Donc, dans le formulaire ci-dessus, il convient de ne définir que les travaux qui sont démarrés le jour concerné par le formulaire.
</p>

<h3>Aperçu des travaux</h3>
<p>
  Pour avoir un aperçu du plan général des travaux, i.e. un aperçu qui tient compte du nombre de jours de chaque travail, on peut utiliser le lien ci-dessous :
</p>
<p>
  <%= "Plan des travaux".in_a(href: "abs_work/map?in=unan_admin", target:'_blank') %>
</p>
