<%
# Carte des pDays

raise_unless_admin

%>
<%= Unan::titre_h1("Carte des P-Days") %>
<style type="text/css">
div#abs_work_map div.work{top: <%= UnanAdmin::Program::AbsPDay::MAP_DAY_HEIGHT %>px}
</style>

<%
# ---------------------------------------------------------------------
#   La carte
# ---------------------------------------------------------------------
# Noter qu'elle se trouve dans un conteneur, mais c'est juste pour
# faciliter l'affichage avec bords, etc.
%>
<div id="abs_pday_map_container" style="width:<%= UnanAdmin::Program::AbsPDay::MAP_WIDTH + 24 %>px">
  <%= Unan::Helper::graduation_jours(day_width:UnanAdmin::Program::AbsPDay::MAP_DAY_WIDTH) %>
  <div id="map_container_tools" class="" style="height:12px">
    <%# On mettra ici les outils et notamment le menu pour changer le zoom de la carte %>
  </div>
  <div id="abs_pday_map" style="width:<%= UnanAdmin::Program::AbsPDay::MAP_WIDTH %>px">
    <% Unan::Program::AbsPDay::all.each do |pday| %>
      <% debug "P-Day ##{pday.id}" %>
      <%= pday.in_map %>
    <% end %>
  </div>
</div><%# Le conteneur %>


<style type="text/css">
div#abs_pday_map{height:<%= UnanAdmin::Program::AbsPDay::map_height%>px}
</style>
