<%
# Vue pour l'édition des exemples
raise_unless_admin

page.add_javascript(PATH_MODULE_JS_SNIPPETS)
%>
<h2>Exemple (édition)</h2>
<div class="right">
  <%= "Liste des exemples".in_a(href:"exemple/list?in=unan_admin", class:'small') %>
</div>
<%
# site.require_objet 'unan'
site.require 'form_tools'
form.prefix = 'exemple'
form.objet  = param(:exemple) || Hash.new

onclick = "var f=$('form#form_exemple_edit');f.find('input#operation').val('edit_exemple');f.submit()"
lien_edit = "Éditer".in_a(onclick:onclick, class:'btn small')
lien_show = if form.objet_id.nil?
  ""
else
  "Visualiser".in_a(href:"exemple/#{form.objet_id}/show?in=unan", class:'btn small')
end
lien_init = 'Init new'.in_a(onclick:"$.proxy(Exemple, 'init_new')()", class:'small btn')

lien_save = 'Sauver'.in_submit(class: 'btn small')
%>
<form id="form_exemple_edit" class="dim2080" action="exemple/<%= form.objet[:id] %>/edit?in=unan_admin" method="POST">

  <%= "save_exemple".in_hidden(name:'operation', id:'operation') %>

  <%# ID %>
  <%= form.field_text('ID', 'id', nil, {class:'short', text_after:"#{lien_edit} #{lien_show} #{lien_init} #{lien_save}"}) %>

  <%# TITRE %>
  <%= form.field_text("Titre", 'titre', nil) %>

  <%# SUJET (catégorie) %>
  <%= form.field_select("Sujet", 'sujet', nil, {values:sujets_cibles_as_select}) %>

  <%# CONTENU DE L'EXEMPLE %>
  <%= form.field_textarea("Exemple", 'content', nil, {class:'high', style: 'width:100%;height:680px'}) %>
  <%= form.field_checkbox("Syntaxe markdown", 'cb_markdown', (form.objet[:content] || '').start_with?('<!-- MARKDOWN -->'), {onclick:"$.proxy(Exemple,'toggle_markdown', this.checked)()"}) %>

  <%# NOTES SUR L'EXEMPLE %>
  <%= form.field_textarea("Notes", 'notes', nil, {style: 'width:100%'}) %>
  <%= form.field_description("Des notes ou un note qui sera ajoutée à l'affichage de l'exemple, par exemple pour préciser la nature de l'exemple, s'il est simplifié ou non.") %>

  <%# WORK DE RÉFÉRENCE (ID) %>
  <%= form.field_text("Work ID", 'work_id', nil, {class:'short'}) %>
  <%= form.field_description("Si cet exemple est intimement lié à un travail absolu, alors on peut indiquer son ID ici.") %>

  <%# SOURCE %>
  <%= form.field_text("Source", 'source', nil) %>
  <%= form.field_description("Source de l'exemple. Si existe, sera précédé du text “Exemple tiré de ”, donc la donnée peut-être une balise ou une liste de balise films.") %>

  <%# SOURCE TYPE (plusieurs valeurs définissant la valeur finale) %>
  <%= form.field_select("Type", 'source_src', nil, {values: Unan::Program::Exemple::TYPES_SOURCES}) %>
  <%= form.field_select_pays("Pays", 'source_pays', nil) %>
  <%# Source type : Année %>
  <%= form.field_text("Année", 'source_year', nil, {class: 'short', text_after:" (année de la source de l'exemple - AAAA)".in_span(class:'small')}) %>


  <%= form.submit_button("Enregistrer l'exemple") %>
</form>
