<%
# Aide pour l'administration
raise_unless_admin
%>
<%= Cnarration::titre_h1("Aide administration") %>

<%=
case param(:operation)
  # Rappel : Les opérations ci-dessous doivent obligatoirement
  # retourner le code à écrire dans la page.
when 'check_pages_out_tdm'
  debug "-> check_pages_out_tdm"
  Cnarration::require_module 'admin/check_pages_out_tdm'
  if Cnarration::Admin.respond_to?(:check_pages_out_tdm)
    Cnarration::Admin::check_pages_out_tdm
  else
    error "Cnarration::Admin ne répond pas à :check_pages_out_tdm…"
  end
else ""
end
%>

<h3>Pages des cours</h3>

<fieldset>
  <legend>Outils pour les pages</legend>
  <div>
    <span>Pour vérifier que toutes les pages “physiques” (pages markdown) sont bien consignées dans la table des matières d'au moins un livre.</span>
    <form class="block right" action="admin/aide?in=cnarration" method="POST">
      <%= "check_pages_out_tdm".in_hidden(name:'operation') %>
      <%= "Vérifier pages OUT".in_submit(class:'btn tiny') %>
    </form>
  </div>
</fieldset>

<p>
  Les pages de cours de la collection Narration sont reprises (pour le moment) de la version MD de la collection, mais sont transformées en pages Markdown/Kramdown pour être ensuite transformées en fichier semi-dynamiques ERB.
</p>
<p>
  Markdown/Kramdown -> ERB -> Affichage HTML
</p>
<p>
  Ces pages sont donc en Markdown/Kramdown, avec des éléments ERB insérés entre '&lt;%' et '%&gt;'.
</p>
<p>
  Pour les obtenir de la collection Narration MD, il faut prendre les fichiers .str et les transformer en Markdown/Kramdown.
</p>
<p class='small'>
  Noter qu'à l'avenir ce sont ces fichier Markdown/Kramdown de ce site qui seront utilisés pour la collection réelle. On pourra utiliser la méthode `to_latex` de Kramdown pour construire les fichiers Latex.
</p>
<p>
  Pour l'aide Kramdow, cf. <%= "le site officiel".in_a(href:"http://kramdown.gettalong.org", target:'_blank') %>.
</p>

<h4>Création d'une nouvelle page</h4>

<ul>
  <li>Cliquer l'onglet New page”,</li>
  <li>Régler tous les champs,</li>
  <li>Enregistrer la page,</li>
  <li>Cliquer la bouton “Show” pour afficher la page,</li>
  <li>Cliquer le lien “Edit text” pour modifier le texte.</li>
</ul>

<h4>Balises spéciales</h4>
<p>
  <strong>film:&lt;ID du film&gt;</strong> ou <strong>FILM[&lt;ID du film&gt;]</strong>
</p>
<p>
  <strong>mot:&lt;ID du mot&gt;</strong> ou <strong>MOT[&lt;ID mot&gt;::&lt;le mot à afficher&gt;]</strong>
</p>
<p>
  <strong>personnage:&lt;personnage&gt;</strong> ou <strong>personnage:|&lt;prénom nom&gt;|</strong>
</p>
<p>
  Les termes techniques : <strong>tt:&lt;terme&gt;</strong> ou <strong>tt:|&lt;terme technique&gt;|</strong>
</p>

<h4>Liens vers des livres de la collection</h4>

<p>
  Utiliser : `lien.la_structure`, ou `lien.les_personnages` etc.
</p>
<p>
  Cf. le fichier `<%= lien.edit_file('/Users/philippeperret/Sites/WriterToolbox/objet/cnarration/lib/required/liens.rb') %>`
</p>
