<%
#
raise_unless_admin
%>
<%= Cnarration::titre_h1("Administration") %>

<%= "Fonctionnement".in_a(href:'admin/fonctionnement?in=cnarration') %>
 | 
<%= "Aide".in_a(href:"admin/aide?in=cnarration") %>
| 
<%= 'Pages par niveau de développement'.in_a(href:"admin/pages_par_niveau?in=cnarration") %>

<h3>Pages des cours</h3>

<fieldset>
  <legend>Table des matières intelligente</legend>
  <div>
    <%= "tables des matières intelligentes".in_a(href: "admin/smart_tdm?in=cnarration") %> permettent d'avoir une vision complète des tables des matières des livres.
  </div>
</fieldset>
<fieldset>
  <legend>Outils pour les pages</legend>
  <div>
    <span>Pour vérifier que toutes les pages “physiques” (pages markdown) sont bien consignées dans la table des matières d'au moins un livre : `` en console.</span>
  </div>
</fieldset>
<fieldset>
  <legend>Tips</legend>
  <ul>
    <li>On peut rechercher tous les TODO dans les pages narration en utilisant la <%= "recherche".in_a(href:"cnarration/search") %> avec le texte TODO dans les textes.</li>
  </ul>
</fieldset>
