<%

# ÉDITION DE LA TABLE DES MATIÈRES D'UN LIVRE

raise_unless_admin
%>
<%= Cnarration::titre_h2("Livre (édition)") %>
<% if ONLINE %>
  <p class='warning air'>La collection Narration se modifie seulement en OFFLINE.</p>
<% else %>
<%
def livre
  @livre ||= site.objet
end
%>
<div class='tiny italic discret'>Glisser-déposer les titres d'une table des matières à l'autre.<br>Maintenir la <strong>touche MAJ</strong> — avant le début du déplacement — pour déplacer l'élément avec ses sous-éléments.</div>
<div id="panneaux_tdms">
  <h3 id="cur_tdm">Table des matières courante</h3>
  <h3 id="out_tdm">Hors T.d.m</h3>
  <div id="panneau_in_tdm">
    <%= livre.editable_tdm %>
  </div>
  <div id="panneau_out_tdm">
    <%= livre.pages_et_titres_out %>
  </div>
</div>
<div style="clear:both;margin-top:1em"></div>
<div class="right">
  <%= "Afficher".in_a(class:'fleft', href:"livre/#{livre.id}/tdm?in=cnarration") %>
  <%= "Enregistrer".in_a(class:'btn', onclick:"$.proxy(Cnarration, 'save_tdm', #{livre.id})()") %>
</div>
<%
end # OFFLINE
%>
