<%
# Page d'accueil de l'utilisateur dans Un An Un Script
%>
<%= Unan::titre_h1 %>

<%
  # LES OUTILS SI L'UTILISATEUR EST L'ADMINISTRATEUR
  if user.admin? %>
  <div class='admin_tools right small'>
    <%= "Outils administrateur".in_div %>
  <%= "Calendrier général".in_a(href:"abs_pday/cal?in=unan/program") %>
  </div>
  <% end %>
<%


if user.identified?

  # Un user identifié
  # Il peut avoir ou non commencé le programme un an un script, on le
  # sait grâce à unanunscript?

%>
<%

  if user.unanunscript?

      # Un user qui suit le programme
%>
  <p>Vous suivez le programme Un An Un Script.</p>
<%

  else

      # Un user identifié mais qui ne suit pas le programme
      # un an un script
%>
  <p>Vous ne suivez pas encore le programme “Un An Un Script”. Que désirez-vous faire ?</p>
  <ul>
    <li><%= "Découvrir le programme en profondeur".in_a(href:'overview/home?in=unan') %></li>
    <li><%= "S'inscrire au programme".in_a(href:"user/paiement?in=unan") %> </li>
  </ul>
<%

  end # if unanunscript?

%>

<%


else

  # Un visiteur qui n'est pas identifié
  # On lui présente simplement le panneau explicatif avec des liens pour
  # s'inscrire au programme ou pour en savoir plus.

%>
<p>
  Le pari de ce <strong>programme d'écriture</strong> est très simple : que vous soyez ou non expérimenté(e), que vous ayez des connaissances poussées en dramaturgie ou non, que vous ayez déjà essayé l'expérience d'une écriture complète ou non, ce programme est là pour vous faire <strong>parvenir à écrire votre roman, votre scénario de film ou de BD</strong>, en un temps donné d'environ un an — suivant le rythme choisis —, tout en vous faisant suivre une <strong>formation complète à la narration</strong>, l'art d'écrire des histoires.
</p>
<ul>
  <li><a href="overview/home?in=unan">En apprendre plus sur ce programme</a></li>
  <li><a href="user/paiement?in=unan">S'inscrire à ce programme d'un an (pour seulement <%= Unan::tarif_humain %>)</li>
</ul>

<%
end
%>
