<%
# Formulaire d'édition du projet
# Permet à l'utilisateur de le modifier
#

projet = site.route.instance
raise NonFatalError::new("Il faut définir le projet pour l'éditer", param(:last_route))
unless projet.exist?
  raise NonFatalError::new("Le projet ##{projet.id} n'existe pas, désolé…", param(:last_route))
end
# Le visiteur courant doit être l'auteur du projet (ou admin)
if projet.auteur_id != user.id
  raise_unless_owner("Vous n'êtes pas l'auteur de ce projet, vous ne pouvez pas l'éditer !")
end

form.objet = projet


%>
<%= Unan::titre_h1("Fiche du projet") %>
<form class="dim2080" action="projet/<%= projet.id %>/edit?in=unan" method="POST">

  <%= "save_data_projet".in_hidden(name:'operation') %>

  <%# ID du projet (hidden) %>
  <%= projet.id         .in_hidden(name:"projet[id]", id:'projet_id') %>
  <%= projet.program.id .in_hidden(name:'projet[program_id]', id:'projet_program_id') %>
  <%= projet.auteur_id  .in_hidden(name:'projet[auteur_id]', id:'projet_auteur_id') %>

  <%# TITRE DU PROJET %>
  <%= form.field_text("Titre", 'titre', nil) %>
  <%= form.field_description("Le titre du projet, même si c'est seulement un titre de travail. Si le titre n'est pas spécifié, “Projet &lt;xxx&gt;” sera utilisé.") %>

  <%# RÉSUMÉ %>
  <%= form.field_textarea("Résumé, 'resume', nil") %>
  <%= form.field_description("Le résumé permettra de mieux connaitre votre film s'il est partagé avec des lecteurs (cf. ci-dessous).") %>

  <%# TYPE DU PROJET (bit 1 de specs -  bit 2 pour développement ultérieur) %>
  <%= form.field_select("Type", 'typeP', nil, {values:Unan::Projet::types_for_select}) %>
  <%= form.field_description("") %>
  <%# Partage du projet (bit 3) %>
  <%= form.field_select("Partage", 'sharing', nil, {values:Unan::SHARINGS, text_before:"Qui peut suivre ce projet ? "}) %>
  <%= form.field_description("Le partage définit qui peut visiter les pages de travail de votre projet. Si aucun partage n'est défini ou que “Personne” est choisi, notez cependant que le titre du projet — et seulement le titre du projet — pourra apparaitre dans certaines parties du site.") %>

  <%= form.submit_button("Enregistrer") %>
</form>

<%= "Voir la fiche".in_a(class:'small btn', href:"projet/#{projet_id}/show?in=unan") %>
