<%
# Affichage d'une page de la collection Narration
%>
<%
def page
  @page ||= site.objet
end
%>
<%= Cnarration::titre_h1 page.livre.titre %>
<%= page.liens_edition_if_admin %>
<%= page.boutons_navigation(:top) %>
<% if page.page? %>
  <h3><%= page.titre %></h3>
<% end %>
<%= page.output %>
<%= page.boutons_navigation(:bottom) %>
