<%
# Affichage d'une page de la collection Narration
%>
<% def page ; @page ||= site.objet end %>
<%= Cnarration::titre_h1 %>
<%= page.liens_edition_if_admin %>
<h2><%= page.livre.titre %></h2>
<h3><%= page.titre %></h3>
<%= page.output %>
