<%
# Affichage d'une page de la collection Narration
%>
<%
def ipage
  @ipage ||= site.objet
end
%>
<%= Cnarration::titre_h1 ipage.livre.titre %>
<%= ipage.liens_edition_if_admin %>
<%= ipage.boutons_navigation(:top) %>
<%= ipage.output %>
<%= ipage.boutons_navigation(:bottom) %>
<%= ipage.permanent_link %>
<%= ipage.bloc_evaluation if ipage.page? %>
<div class="tiny center air">
  ©2004-2016 Philippe Perret Toute reproduction interdite sans autorisation
</div>
