<%
# Vue pour éditer le contenu de la page de cours, quelle qu'elle soit
raise_unless_admin
%>
<%
page_id = site.current_route.objet_id
page.add_javascript(PATH_MODULE_JS_SNIPPETS)

%>
<h1>Édition page cours #<%= page_cours.id %> (type: <%= page_cours.type %>)</h1>

<div id="help_edit_content">
<pre>
            --------
            | AIDE |
            --------

         Snippets
  ------------------------------
  work   Insérer une balise work
         tout type de travail
         Note : un AbsWork
  page   Une balise vers une page
         de cours (son ID en $1)
  film   Une balise de film avec
         en $1 l'ID du film
  mot    Une balise pour un mot du
         scénodico avec en $1 son
         ID.

  paction   Insérer un paragraphe
        d'action à effecture par
        l'utilisateur.

  user.projet.titre_as_folder

    => Renvoie le nom du projet,
       en tant que titre de dossier.

  <img src="view/img/clavier/K_Command.png" /> + <img src="view/img/clavier/K_S.png" /> = Sauvegarder
  <img src="view/img/clavier/K_Command.png" /> + <img src="view/img/clavier/K_P.png" /> = Prévisualiser
</pre>
</div>

<div id="top_tools" class="tiny right" style="margin-top:0!important;">
  <%= "Visualiser".in_a(href:"page_cours/#{page_id}/show?in=unan", target:'_show_page_') %>
  <%= lien.edit_file( page_cours.fullpath.expanded_path, editor: :textmate, titre: 'ÉDITER AVEC ÉDITEUR') %>
</div>
<form id="form_edit_page_cours" class="" action="page_cours/<%= page_id %>/edit_content?in=unan_admin" method="POST">
  <%= "save_page_content".in_hidden(name:'operation') %>
  <%= "not_optimized".in_hidden(name:"interface_state", id:"interface_state") %>
  <%=
    # ID de la page, mais ne sert que pour javascript et pour le moment
    # seulement pour la prévisualisation de la page
    page_id.in_hidden(id: 'page_id') %>
  <textarea name="page_cours[content]" id="page_cours_content"><%=
    page_cours.content
  %></textarea>
  <input type="submit" class="btn fright" value="Enregistrer" />
</form>
