<%
# Formulaire permettant de faire une recherche sur les pages de
# la collection Narration
page.description= "Recherche dans toutes les pages des ouvrages de la collection Narration."
enable_comments
%>
<%= Cnarration.titre_h2("Recherche") %>

<% if user.admin? # || user.subscribed?
  %>
  <%
    if param(:operation) == 'proceed_search_in_narration'
      Cnarration::Search.proceed
    end
  %>
  <%= Cnarration::Search.formulaire    %>
  <%= Cnarration::Search.result  %>

<% elsif false == user.subscribed? %>
<p>
  Désolé, seuls les abonnés à
  <%= site.name %> peuvent faire une recherche dans les pages de la collection narration.
</p>
<div class="right">
  <%= lien.subscribe("-> S'abonner") %> <span class='small'>(pour <%= site.tarif_humain %>/an)</span>
</div>
<% else %>
<p>
  Le formulaire de recherche dans les pages de la collection Narration n'est pas encore implémenté.
</p>

<% end %>
