<%
#
# PLAN GÉNÉRAL DU PROGRAMME UN AN UN SCRIPT
#
%>
<%= Unan::titre_h1 %>
<h2>Plan général du programme</h2>



<%
# ------- BOUTONS ADMINISTRATION -----------

# Si c'est moi qui visite, on lui indique un lien pour
# pouvoir modifier ces informations.
#   - le texte de ce fichier (donc ce fichier)
#   - les infos contenues
if user.phil?
  this_file = CGI::escape(File.expand_path('./objet/unan/program/abs_pday/cal.erb'))
  data_file = CGI::escape(File.expand_path('./data/unan/data/cal_pday.yaml'))
  data_filed = CGI::escape(File.expand_path('./data/unan/data/cal_pday_detail.yaml'))

%>
<div class="tiny right btns">
  <span class="libelle">Modifier…</span>
  <%= "ce texte".in_a(href:"site/open_file?file=#{this_file}&app=TextMate") %>
  <%= "les données générales".in_a(href:"site/open_file?file=#{data_file}&app=Atom") %>
  <%= "les descriptions".in_a(href:"site/open_file?file=#{data_filed}&app=Atom") %>
</div>
<%
end
# -----------/FIN BOUTONS ADMINISTRATION ----------
%>

<%
#
# Types d'affichages
# (pour ne faire qu'un seul menu avec les différens affichages possibles,
#  en produisant un HTML peut-être au lieu de tout refaire)
#   VISION D'ENSEMBLE
#     Correspond à vision d'ensemble et titre des étapes
#   VISION D'ENSEMBLE DÉTAILLÉE
#     Correspond à vision d'ensemble et description
#   VISION D'ENSEMBLE COURS
#     Correspond à vision d'ensemble et cours
#   VISION MÉDIANE
#     Vision médiane (donc le niveau 2) et titre des étapes
#   VISION MÉDIANE DÉTAILLÉE
#     Niveau 2 et description abrégée
#   VISION
%>

<p class='small'>
  Vous pouvez vous faire, grâce à cette visualisation de l'intégralité du programme “Un An Un Script”, une idée plus précise du travail au cours de ce programme de développement unique en son genre.
</p>
<form class="" action="<%= route_courante %>" method="POST">
<%
# MENUS POUR CHANGER L'AFFICHAGE
%>
<div class='btns'>
  <%= Unan::Program::PDayMap::menu_echelle %>
  <%= "?".in_a(onclick:"$('div#explication_menu_echelle').toggle()", class:'small') %>
  <%= Unan::Program::PDayMap::menu_content %>
  <%= "?".in_a(onclick:"$('div#explication_menu_content').toggle()", class:'small') %>
  <%= Unan::Program::PDayMap::menu_rythme %>
  <%= "?".in_a(onclick:"$('div#explication_menu_rythme').toggle()", class:'small') %>
</div>
</form>
<%
# EXPLICATION DES MENUS
%>
<div class="small">
  <div id="explication_menu_echelle" style="display:none">
    En réglant ce <strong>menu d'échelle</strong>, vous pouvez visualiser ce plan plus ou moins précisément.
  </div>
  <div id="explication_menu_content" style="display:none">
    Ce <strong>menu de contenu</strong> vous permet de choisir entre les différents contenus à afficher. “Titres des étapes” affiche seulement les titres, “Description” donne un aperçu plus précis du contenu de ces étapes et “Aspect pédagogique” précise le contenu des connaissances qui sont acquises en parallèle ou au cours de chaque étape de travail.
  </div>
  <div id="explication_menu_rythme" style="display:none">
    Les indications de durées sont fonctions du <strong>rythme général</strong> que vous avez adopté ou celui choisi dans le menu ci-dessous. Utilisez ce menu si vous voulez avoir une vision juste de la durée des étapes en fonction du rythme choisi. Noter que le rythme choisi affecte les cases des “jours-programme” pour indiquer le nombre de jours <em>réels</em> seront nécessaires au programme.
  </div>
</div>


<%
  content_type = param(:content_type) || 'titre'
  style = case content_type
  when 'titre'
    "height:#{Unan::Program::PDayMap::DAY_HEIGHT * 26}px;width:#{Unan::Program::PDayMap::DAY_WIDTH * 14}px"
  else
    ""
  end
%>

<div id="calendrier_abspday" class="<%= content_type %>" style="<%= style %>">
  <%= Unan::Program::PDayMap::trace_whole_map(param(:niveau).to_i_inn || 1) %>
</div>
