<%
# Affichage de la liste de tous les outils
#
# NOTE Pour le moment, ils sont définis dans un fichier YAML à la
# même place que ce fichier (cf. tool_list.yaml)
%>
<h1>Outils d'écriture</h1>
<p class='small italic'>
  <% if user.paiements_ok? %>
      <%= user.pseudo %>, puisque vous êtes inscrit<%= f_e %> et que votre paiement est à jour, vous pouvez <strong>rejoindre tous les outils</strong>.
  <% elsif user.identified? %>
    <%= user.pseudo %>, vous êtes inscrit<%= f_e %> mais votre <a href="user/paiement">abonnement</a> n'est pas à jour (<%= site.tarif_humain %>/an), donc vous ne pouvez pas utiliser certains outils présentés ici.
  <% else %>
    Veuillez noter que sans <a href="user/signin">vous identifier</a> (si vous êtes déjà inscrit), sans <a href="user/signup">vous inscrire</a> et sans <a href="user/paiement">s'abonner aux outils</a> (<%= site.tarif_humain %>/an), vous ne pouvez pas les utiliser.
  <% end %>
</p>
<%= SiteHtml::Tool::output %>
