<%
# Affichage de la liste de tous les outils
#
# NOTE Pour le moment, ils sont définis dans un fichier YAML à la
# même place que ce fichier (cf. tool_list.yaml)
%>
<h1>Outils d'écriture</h1>
<p class='small italic'>
  <% if user.paiements_ok? %>
      <%= user.pseudo %>, puisque vous êtes inscrit<%= f_e %> et que votre paiement est à jour, vous pouvez <strong>cliquer sur le nom de l'outil</strong> pour l'afficher.
  <% elsif user.identified? %>
    <%= user.pseudo %>, vous êtes inscrit<%= f_e %> mais votre paiement n'est pas à jour, donc vous ne pouvez pas utiliser certains outils présentés ici.<br />
    Vous pouvez y remedier en payant l'<a href="user/paiement">abonnement annuel de <%= site.tarif_humain %>€</a>.
  <% else %>
    Veuillez noter que sans être inscrit et sans abonnement aux outils, vous ne pouvez pas les afficher en cliquant sur leur nom. <strong>Pour y remédier</strong>, vous pouvez <a href="user/signup">vous inscrire</a> et <a href="user/paiement">payer votre abonnement annuel</a> de <%= site.tarif_humain %>.
  <% end %>
</p>
<%= SiteHtml::Tool::output %>
