<%
# Page d'accueil pour découvrir le programme 1 AN 1 SCRIPT
%>
<%= Unan::Aide::titre("Présentation") %>

<h3>C'est quoi ce drôle de programme ?…</h3>
<p>
  <strong>UN AN UN SCRIPT</strong> est un programme inspiré des méthodes et des techniques des meilleurs auteurs et scénaristes qui, au cours d'<strong>une année</strong>, vous accompagne dans <strong>l'écriture d'un film, d'un roman ou d'une BD</strong>, tout en vous enseignant l'<strong>art de la narration</strong>.
</p>
<p class='small'>
  Cela signifie qu'au cours de ce programme d'apprentissage et de création qui <strong>vous suit au quotidien</strong>, vous êtes amené à travailler tant au niveau de la <strong>pratique</strong> qu'au niveau de la <strong>théorie</strong>, que vous développez votre <strong>savoir</strong> tout autant que votre <strong>savoir-faire</strong>. Soyez assuré<%= f_e %> qu'il n'existe aucune autre voie pour développer avec bénéfice votre talent et vos compétences littéraires ou cinématographiques.
</p>
<p class='small'>
  Côté pratique, vous allez <strong>parvenir à concevoir votre film, votre roman, votre BD ou toute autre forme d'histoire</strong>, depuis la recherche de l'<em>Idée Initiale</em> jusqu'à la version 2 du manuscrit ou du scénario. Côté théorie, vous allez apprendre de façon rigoureuse mais non moins ludique l'art de la narration, à l'aide de fiches de cours complètes, d'exercices, de questionnaires et même de jeux mettant à contribution toutes les ressources de l'internet, pour le plus grand profit de votre apprentissage.
</p>
<p>
  Le <strong>but ultime</strong> de ce programme est donc de vous faire <strong>achever cette année de travail avec un manuscrit ou un scénario digne de ce nom</strong> sous le bras et, dans la tête, de très solides notions de narration. Tout cela de façon <em>motivante</em> et <em>ludique</em>.
</p>

<h3>Pourquoi ce programme ?</h3>
<p>
  Il découle du constat fait de longue date par <strong>Philippe Perret</strong>, pédagogue passionné et concepteur de ce programme unique en son genre, que la plupart des personnes qui veulent écrire et ne parviennent pas à le faire sont simplement victimes d'un manque de méthode et d'organisation d'un côté, et d'un manque de connaissance, de confiance et de stimulation de l'autre.
</p>
<p>
  Ce programme complet, touchant aussi bien la dramaturgie que l'organisation concrète du travail ou la gestion du quotidien de l'auteur, vise à combler efficacement ces lacunes.
</p>
<p class='small'>
  Notez un point capital : par son aspect ludique, par le fait qu'il accompagne l'auteur en définissant chaque jour et très précisément le travail à accomplir, ce programme permet de <strong>vaincre la procrastination</strong> de façon radicale. Le système de “points” qui valide la pratique autant que l'apprentissage, même s'il peut prêter à sourire, est quant à lui un moyen efficace de se motiver et se fixer des objectifs concrets. Ces <em>objectifs concrets</em>, l'auteur, dans la solitude de son travail si particulier, n'en possède jamais assez.
</p>

<h3>Combien ça coûte ?</h3>
<p>
  Le tarif unique de ce programme est de <strong><%= Unan::tarif_humain %> pour le cyle complet du programme d'un an</strong>.
</p>
<p class='small'>
  Ce tarif, désisoire eu égard au savoir et au savoir-faire enseigné, n'est possible qu'en raison du nombre d'auteurs qui le suivent ou le suivront. Notez qu'il comprend également <strong>un abonnement de deux ans au site</strong> qui permet d'utiliser pendant ce temps tous les autres outils proposés.
</p>
<p>
  À ce prix peut s'ajouter ponctuellement <em>et seulement si l'auteur le désire</em> des analyses commentées de ses documents dont le tarif fluctue en fonction du lecteur-commentateur sollicité (et parfois de la taille des-dits documents).
</p>
<p class='small'>
  L'auteur peut en effet faire appel à des lecteurs plus ou moins chevronnés du forum, et les tarifs sont alors purement symboliques (de 1€ pour les moins expérimentés des lecteurs à 5€ pour les plus expérimentés). Cette rétribution ne vise qu'à responsabiliser auteur et lecteur.
</p>
<p>
  Notez qu'après avoir suivi le programme “Un An Un Script”, vous serez vous aussi tout à fait en mesure de proposer vos services de lecteur-commentateur sur le forum et vous pourrez alors donner des avis rétribués qui rembourseront largement vos efforts !
</p>

<h3>Pourquoi un an ?</h3>
<p>
  Un an, c'est une durée qui peut sembler longue, mais ça n'est en réalité qu'<strong>à peine plus que le temps moyen que prend un auteur professionnel</strong> pour concevoir un film ou un roman. Pour un<%= f_e %> auteur<%= f_e %> non expérimenté<%= f_e %>, le faire en moins de temps relèverait de l'<em>échec annoncé</em>, vous en avez peut-être déjà fait la cruelle expérience.
</p>
<p class='small'>
  Noter que cette durée peut être adaptée à vos désirs et vos possibilités puisque vous pouvez, au commencement du programme ou en cours de programme, définir <strong>votre propre rythme</strong>, en accélérant le travail — par exemple si vous écrivez votre second scénario avec ce programme et que vous ne désirez pas reprendre tous les cours — ou en le ralentissant si vous voulez vous donner plus de temps pour approfondir et intégrer les notions abordées.
</p>

<h3>Seul<%= f_e %> au monde ?</h3>
<p>
  Bien que ce programme vise à développer l'autonomie complète de l'auteur ou de l'auteure, vous pouvez recevoir sur le site des avis tout au long de votre programme par le biais du <a href="forum/home" target="_new">forum privé</a> que fréquentent des auteurs amateurs et professionnels.
</p>
<p>
  Vous l'aurez compris, vous n'êtes donc plus du tout seul ou seule en suivant ce programme ! :-)
</p>

<h3>Pas assez clair ?</h3>
<p>
  Si cette courte présentation ne vous semble pas assez claire, n'hésitez pas à <a href="unan/contact" target="_new">contacter Phil</a> pour obtenir de plus amples informations sur ce programme. Il vous en apprendra plus avec beaucoup de plaisir, d'enthousiasme et bien sûr de professionnalisme.
</p>

<h3>À vos marques…</h3>
<p>
  Vous vous sentez prêt ou prête à vous lancer ?… Alors n'attendez plus et <a href="unan/paiement" class='bold'>inscrivez-vous</a> de ce pas au programme “Un An Un Script” ! :-D
</p>
