<section id="footer">
  <%= "Accueil".in_a(href:"") %>
  <% if user.identified? %>
    <%= "Profil".in_a(href:"user/#{user.id}/profil") %>
  <% else %>
    <%= "Inscription".in_a(href:'user/signup') %>
  <% end %>
  <%= "Contact".in_a(href:'site/contact') %>
  <%= "Outils".in_a(href:'tool/list') %>
</section>
