<section id="footer">
  <%= "Accueil".in_a(href:"") %>
  <% if user.identified? %>
    <%= "Profil".in_a(href:"user/#{user.id}/profil") %>
  <% else %>
    <%= "Inscription".in_a(href:'user/signup') %>
  <% end %>
  <%= "Contact".in_a(href:'site/contact') %>
  <%= "Outils".in_a(href:'tool/list') %>
  <%= "Forum".in_a(href:'forum/home') %>
  <% if site.current_route && site.current_route.context && site.current_route.context.start_with?('unan') %>
    <%= "“1 An 1 Script”::Aide".in_a(href:'aide/home?in=unan') %>
  <% end %>
</section>
<% if OFFLINE || user.admin? %>
  <div class="right" style="margin-right:1em"><%= "Debug".in_a(class:'tiny', onclick:"$('section#debug').toggle()") %></div>
<% end %>
<div id="bande_bas_de_page"></div>
