<%
# Marge gauche
#
# Note : Elle n'est visible que lorsque l'utilisateur est identifié
%>
<section id="left_margin">

<%= "Accueil".in_a(href: '') %>
<%= "OUTILS".in_a(href:"tool/list", class:'border') %>
<%= "Forum".in_a(href:'forum/home') %>

<% if false == user.identified? %>
  <hr />
  <%= "S'IDENTIFIER".in_a(href:'user/signin', back_to: current_route) %>
  <hr />
  <%= "INSCRIPTION".in_a(href:'user/signup') %>
<%
  else
    # Si le visiteur est identifié
%>

  <%= "Profil".in_a(href:"user/#{user.id}/profil") %>
  <%= "UN AN<br>UN SCRIPT".in_a(href:'unan/home', class:'border') %>
  <%= "Déconnexion".in_a(href:"user/#{user.id}/deconnexion") %>

  <% if user.admin? %>
    <hr />
    <a href="site/console">Console</a>
    <a href="unan_admin/dashboard">Tableau de bord 1A1S</a>
  <% end %>
  <%
  if user.subscribed?
    # Quand l'user est abonné au site, on lui présente un lien
    # vers tous les outils
  %>
    <hr />
    <div id="leftm_tools">
      <%= "Narration".in_a(href:'cnarration/home') %>
      <%= "Analyses".in_a(href:'analyse/home') %>
      <%= "Calculateur".in_a(href: 'calculateur/home') %>
      <%= "Scénodico".in_a(href:'scenodico/home') %>
      <%= "Filmodico".in_a(href:'filmodico/home') %>
      <%= "Factures".in_a(href:'factures/home') %>
    </div>

  <% end %>
<% end %>
</section>
