<%
# Marge gauche
#
# Note : Elle n'est visible que lorsque l'utilisateur est identifié
%>
<%
if user.identified?
  # Lorsque l'user est identifié
%>
<section id="left_margin">
  <%= "Accueil".in_a(href: '') %>
  <a href="user/<%= user.id %>/profil">Profil</a>
  <a href="unan/home" id="link_uaus">UN AN<br>UN SCRIPT</a>
  <a href="user/<%= user.id %>/deconnexion">Déconnexion</a>
  <a href="tool/list">Outils</a>
  <hr />
  <% if user.admin? %>
    <a href="site/console">Console</a>
  <%
    elsif user.subscribed?
      # Quand l'user est abonné au site, on lui présente un lien
      # vers tous les outils
  %>
    <%= "Analyses".in_a(href:'analyse/home') %>
    <%= "Narration".in_a(href:'cnarration/home') %>
    <%= "Forum".in_a(href:'forum/home') %>
    <%= "Calculateur".in_a(href: 'calculateur/home') %>
    <%= "Scénodico".in_a(href:'scenodico/home') %>
    <%= "Filmodico".in_a(href:'filmodico/home') %>

  <% end %>


</section>


<% end %>
