<%
# Marge gauche
#
# Note : Elle n'est visible que lorsque l'utilisateur est identifié
%>
<%
if user.identified?
  # Lorsque l'user est identifié
%>
<section id="left_margin">
  <%= "Accueil".in_a(href: '') %>
  <a href="user/<%= user.id %>/profil">Profil</a>
  <a href="unan/home" id="link_uaus">UN AN<br>UN SCRIPT</a>
  <a href="user/<%= user.id %>/deconnexion">Déconnexion</a>
  <a href="tool/list">Outils</a>
  <% if user.admin? %>
    <hr />
    <a href="site/console">Console</a>
    <a href="unan_admin/dashboard">DASHBOARD 1A-1S</a>
  <% end %>
  <%
  if user.subscribed?
    # Quand l'user est abonné au site, on lui présente un lien
    # vers tous les outils
  %>
    <hr />
    <div id="leftm_tools">
      <%= "Forum".in_a(href:'forum/home') %>
      <%= "Narration".in_a(href:'cnarration/home') %>
      <%= "Analyses".in_a(href:'analyse/home') %>
      <%= "Calculateur".in_a(href: 'calculateur/home') %>
      <%= "Scénodico".in_a(href:'scenodico/home') %>
      <%= "Filmodico".in_a(href:'filmodico/home') %>
      <%= "Factures".in_a(href:'factures/home') %>
    </div>

  <% end %>


</section>


<% end %>
