<%
# Vue pour la liste complète des travaux
filtre = nil

site.require 'form_tools'
form.prefix = 'abs_work_filter'
%>
<%= UnanAdmin::titre_h1("Liste des travaux (abs-work)") %>
<form class="dim2080 cadre" action="abs_work/list?in=unan_admin" method="POST">
  <%= form.field_text("Titre contient", 'titre_contents', nil) %>
  <%= form.field_text("Travail contient", 'travail_contents', nil) %>
  <%= form.field_select("Types est", 'type_w', nil, {values:Unan::Program::AbsWork::TYPES}) %>
  <%= form.field_select("Sujet-cible", 'narrative_target', nil, {values:sujets_cibles_as_select}) %>
  <%= form.submit_button("Chercher", class:'small') %>
</form>

<ul id="abs_works">
  <% Unan::Program::AbsWork::list.each do |iwork| %>
    <%= iwork.as_li %>
  <% end %>
</ul>
