<%
raise_unless_admin
#
# ---------------------------------------------------------------------
#   Carte des travaux, qui permet de voir les superpositions des
#   travaux en fonction de leur départ et de leur durée
# ---------------------------------------------------------------------
%>
<%= Unan.titre_h2("Carte des travaux") %>

<style type="text/css">
div#abs_work_map div.work{top: <%= UnanAdmin::Program::AbsWork::MAP_DAY_HEIGHT %>px}
</style>

<%
# ---------------------------------------------------------------------
#   La carte
# ---------------------------------------------------------------------
# Noter qu'elle se trouve dans un conteneur, mais c'est juste pour
# faciliter l'affichage avec bords, etc.
%>
<div id="abs_work_map_container" style="width:<%= UnanAdmin::Program::AbsWork::MAP_WIDTH + 24 %>px">
  <%= Unan::Helper.graduation_jours(day_width:UnanAdmin::Program::AbsWork::MAP_DAY_WIDTH) %>
  <div id="map_container_tools" class="" style="height:12px">
    <%# On mettra ici les outils et notamment le menu pour changer le zoom de la carte %>
  </div>
  <%
  # NOTE Maintenant, ce sont les P-Days (absolus) sur lesquels on tourne pour
  # faire la carte des travaux car les travaux ne correspondent plus à des jours
  # précis depuis qu'on peut mettre le même travail à plusieurs endroits, ce
  # qui est somme toute plus logique (voir par exemple le travail qui consiste
  # à élaborer un pitch d'histoire tous les jours)
  def top_titre type_id
    100 + (Unan::Program::AbsWork::FIRST_ROW_BY_TYPES[type_id] * UnanAdmin::Program::AbsWork::MAP_DAY_HEIGHT)
  end
  %>
  <div id="abs_work_map" style="width:<%= UnanAdmin::Program::AbsWork::MAP_WIDTH %>px">
    <div class="titre_zone" style="top:<%= top_titre(:tasks) %>px">Travaux</div>
    <div class="titre_zone" style="top:<%= top_titre(:pages) %>px">Pages cours</div>
    <div class="titre_zone" style="top:<%= top_titre(:quiz) %>px">Quiz</div>
    <div class="titre_zone" style="top:<%= top_titre(:forum) %>px">Forum</div>
    <% Unan::Program::AbsPDay.all.each do |pday| %>
      <% pday.works(:as_instance).each do |work| %>
        <%= work.in_map( pday.id ) %>
      <% end %>
    <% end %>
  </div>
  <%# Pour remplacer le work déployé %>
  <div id="work_shadow" style="display:none"></div>
</div><%# Le conteneur %>
<%
# Pour afficher les infos du travail survolé
%>
<div id="overview_infos_work" style="z-index:10"></div>

<style type="text/css">
div#abs_work_map{height:<%= UnanAdmin::Program::AbsWork.map_height%>px}
</style>
