<%
# Accueil du programme UN AN pour un administrateur
%>
<%= Unan::titre_h1 %>


<ul>
  <li><%= 'Outils'.in_a(href: 'unan_admin/dashboard') %></li>
  <li><%= 'Calendrier général'.in_a(href:"abs_pday/cal?in=unan/program") %></li>
  <li><%= 'Calendrier ONLINE des auteurs du programme'.in_a(href: "#{site.distant_url}/unan/cal_auteurs") %></li>
  <li><%= 'Calendrier OFFLINE'.in_a(href: "unan/cal_auteurs") %></li>
</ul>
