<%
# Vue du tableau de bord de l'administration du programme
# “Un an Un Script”
%>
<h1>Tableau de bord UAUS</h1>
<p>
  Bienvenue sur le tableau de bord du programme “Un An Un Script”. Que voulez-vous faire ?
</p>
<%
http = "http://localhost/WriterToolbox"
%>
<ul style="list-style:none">
  <fieldset class='inline-block'>
    <legend>P-Days</legend>
    <li><a href="<%= http %>/abs_pday/edit?in=unan_admin">Création / édition des P-Days (AbsPDay)</a></li>
    <li><a href="abs_pday/map?in=unan_admin" class="bold">Carte des P-Days</a></li>
  </fieldset>
  <fieldset class='inline-block'>
    <legend>Travaux</legend>
    <li><a href="abs_work/edit?in=unan_admin">Créer/éditer un travail</a></li>
    <li><a href="abs_work/map?in=unan_admin" class='bold'>Carte des travaux</a> <span class='small'>(c'est un plan complet qui présente tous les travaux sur une ligne horizontale allant du premier jour au dernier. On peut notamment y voir tous les chevauchements de travaux, ainsi que l'avancée des points maximum)</span></li>
  </fieldset>

  <fieldset class='inline-block'>
    <legend>Pages de cours</legend>
    <li><a href="page_cours/edit?in=unan_admin">Éditer les données d'une page de cours</a></li>
    <li>
      <form action="" method="POST" onsubmit="$(this).attr('action', 'page_cours/'+$('input#page_id_to_read').val()+'/show?in=unan')">
        <div class='row buttons' style="text-align:left"><span class='value'><input type="submit" value="Lire la page de cours : " />
        <input type="text" class="short" value="" id="page_id_to_read" /></span></div>
      </form>
    </li>
  </fieldset>
  <fieldset class='inline-block'>
    <legend>Calendrier</legend>
    <li><%= "Plan général du programme".in_a(href:"abs_pday/cal?in=unan/program") %></li>
    <li><a href="<%= http %>/cal/show?in=unan/program">Visualiser le calendrier de travail</a></li>
  </fieldset>
  <fieldset class='inline-block'>
    <legend>Quiz et questionnaires</legend>
    <li><%= "Liste des QCM".in_a(href:"quiz/list?in=unan_admin") %> </li>
    <li><%= "Liste des questions".in_a(href:"question/list?in=unan_admin/quiz") %></li>
    <li><%= "Édition QCM".in_a(href:"quiz/edit?in=unan_admin") %> </li>
    <li><%= "Question QCM".in_a(href:"question/edit?in=unan_admin/quiz") %></li>
  </fieldset>
  <fieldset class='inline-block'>
    <legend>Exemples</legend>
    <li>Créer un exemple</li>
    <li>Éditer un exemple</li>
  </fieldset>
  <li>Gérer une inscription</li>
</ul>
