<%
# Vue du tableau de bord de l'administration du programme
# “ÉCRIRE UN FILM, ÉCRIRE UN ROMAN, EN UN AN”
%>
<h1>Tableau de bord UAUS</h1>
<p>
  Bienvenue sur le tableau de bord du programme “<%= Unan::PROGNAME_MAJ %>”. Que voulez-vous faire ?
</p>
<%
http = "http://localhost/WriterToolbox"
%>
<div class="small right btns">
  <%= 'MAP TXT'.in_a(href: 'unan_admin/programme', target: :new)%>
  <span>|</span>
  <%= 'CONSOLE'.in_a(href: 'unan_admin/console', target: :new) %>
  <span>|</span>
  <%= 'Mailing'.in_a(href: 'unan_admin/mailing', target: :new) %>
  <span>|</span>
  <%= "Plan général du programme".in_a(href:"abs_pday/cal?in=unan/program", target: :new) %>
  <span>|</span>
  <span>Position des auteurs : </span>
  <%= 'RÉELLE'.in_a(href: "#{site.distant_url}/unan/cal_auteurs", target: :new) %>
  <% if OFFLINE %>
    <%= 'Offline'.in_a(href: 'unan/cal_auteurs', target: :new) %>
  <% end %>
</div>



<fieldset class='tools'>
  <legend>CARTES</legend>
  <%= "WORKS ****".in_a(href:"abs_work/map?in=unan_admin", class:'larger', target: :new) %>
  <%= "Jour par jour".in_a(href:'unan_admin/day_after_day', class:'larger', target: :new) %>
</fieldset>
<fieldset class='tools'>
  <legend>CRÉER</legend>
    <%= "P-DAY".in_a(href:"abs_pday/edit?in=unan_admin", target: :new) %>
    <%= "WORK".in_a(href:"abs_work/edit?in=unan_admin", target: :new) %>
    <%= "PAGE COURS".in_a(href:"page_cours/edit?in=unan_admin", class:'larger', target: :new) %>
    <%= "QUIZ".in_a(href:"quiz/edit?qdbr=unan", target: :new) %>
    <%= "QUESTION".in_a(href:"quiz/edit?qdbr=unan", target: :new) %>
    <%= "EXEMPLE".in_a(href:"exemple/edit?in=unan_admin", target: :new) %>
</fieldset>
<fieldset class='tools'>
  <legend>LISTES</legend>
  <%= "P-Days".in_a(href:'abs_pday/map?in=unan_admin', target: :new) %>
  <%= "Works".in_a(href:'abs_work/list?in=unan_admin', target: :new) %>
  <%= "Pages cours".in_a(href:'page_cours/list?in=unan_admin', class:'larger', target: :new) %>
  <%= "Quiz".in_a(href:'quiz/list', target: :new) %>
  <%= "Questions".in_a(href:'question/list?in=quiz&qdbr=unan', target: :new) %>
  <%= "Exemples".in_a(href:'exemple/list?in=unan_admin', target: :new) %>
</fieldset>
<pre>
RAPPEL DE PROCÉDURE COURANTE

    Pour créer une page Narration
    -----------------------------
    Il suffit de
    * cliquer sur le bouton "CRÉER Pages cours" ci-dessus
    * Entrer l'ID de la page Narration dans le champ Narration ID
    * Cocher "Créer le work associé"
    * Enregistrer

    Tout le reste se fait tout seul, à savoir :
    - Création d'une instance page_cours associée à la page narration
    - Création d'un work associé à la page_cours

    Il suffit ensuite d'insérer le work dans le p-day voulu.

RAPPEL DE LA CONFIGURATION GÉNÉRAL DU PROGRAMME

  L'année d'un programme est constituée de
  366 P-DAYS (366 "jours-programme"). C'est un p-day qui définit
  chaque jour le travail à accomplir.

  On peut trouver une version texte (MAP TXT ci-dessus) dans le fichier
  ./objet/unan_admin/PROGRAMME_MAP.TXT

  Un PROGRAM est constitué de P-DAYS
  Un P-DAYS  est constitué de WORKS
  Un WORKS peut être
      - un travail à accomplir
        TASK
      - un questionnaire à remplir
        QUIZ
      - une page de cours à lire (ou une page Narration)
        PAGE_COURS
      - un message de forum à répondre
        FORUM

  -----------------------------------------------------------------
  PDAY
        C'est un jour-programme, il y en a 366
        Un jour-programme est constitué de WORKS

        Un p-day peut définir un minimum de points pour être considéré
        comme achevé (pas encore en place)

        PDAY  <- WORK
              <- WORK
              <- WORK

  PDAY <- WORK
      C’est la base des travaux d’un jour-programme et la seule base,
      i.e. tout est un “work”, que ce soit un document à écrire, une
      page de cours à lire ou un message de forum à remplir.

      DOCUMENT À PRODUIRE
      PAGE DE COURS À LIRE
        - Définir un work
        -

  PAGE NARRATION À LIRE
      Se définit par :

        PDAY <- WORK <- PAGE COURS <- PAGE NARRATION

        Dans le détail : il faut créer une "page cours"


  WORK <- EXEMPLE
      Un work peut avoir besoin d’exemples pour être illustré
      concrètement. C’est un exemple

  WORK <- PAGE COURS SUGGÉRÉES
      Un work peut définir des pages de cours suggérées : ATTENTION,
      elles n’ont rien à voir avec les travaux de type page de cours
      qui sont obligatoire à lire. Ici, ce sont de simples suggestions
      comme les exemples.
</pre>
<ul style="list-style:none">
  <fieldset class='inline-block'>
    <legend>Pages de cours</legend>
    <li><%= "Liste des pages de cours".in_a(href:"page_cours/list?in=unan_admin") %> </li>
    <li>
      <form action="" method="POST" onsubmit="$(this).attr('action', 'page_cours/'+$('input#page_id_to_read').val()+'/show?in=unan')">
        <div class='row buttons' style="text-align:left"><span class='value'><input type="submit" value="Lire la page de cours : " />
        <input type="text" class="short" value="" id="page_id_to_read" /></span></div>
      </form>
    </li>
  </fieldset>
  <fieldset class='inline-block'>
    <legend>Calendrier</legend>
    <li></li>
    <li><a href="<%= http %>/cal/show?in=unan/program">Visualiser le calendrier de travail</a></li>
  </fieldset>
  <fieldset class='inline-block'>
    <legend>Exemples</legend>
    <li><a href="exemple/list?in=unan_admin">Liste des exemples</a></li>
  </fieldset>
  <li>Gérer une inscription</li>
</ul>
