<%
raise_unless_admin
#
# Page permettant d'afficher le programme jour après jour comme si
# on le suivait de façon rapide.
#
%>

<%
# Section qui contient les données actuelles en fonction du jour
# à commencer par le nombre de points
%>
<div id="dad_state">
  <%= Unan::DAD::total_points_upto %>
</div>
<%
# Fenêtre d'affichage
%>
<div id="dad_content">
  <div class='pday'>
    <%= ipday.edit_buttons %>
    <h3>
      <%= ipday.id %><sup><%= ipday.id == 1 ? 'er' : 'e' %></sup> P-Day :
      <%= ipday.titre %>
    </h3>
    <%  def warning_non_defini; "CE JOUR-PROGRAMME N'EST PAS DÉFINI.".in_span(class:'warning') end %>
    <%= (ipday.description || warning_non_defini).in_div(class:'description') %>

    <%
    # D'abord, on affiche les works qui démarrent vraiment au p-day
    # courant.
    %>
    <h4>Nouveaux travaux</h4>
    <div id="works_OF_pday">
      <% ipday.works(:as_instances).each do |iwork| %>
        <%= iwork.as_card(from: 0) %>
                    <%
                      # Le `from:0` ci-dessus permet d'ajouter la class
                      # 'first_day' au div du travail pour indiquer qu'il
                      # commence maintenant
                    %>
      <% end %>
    </div>
    <%
    # Ensuite, on affiche les works qui continuent sur le p-day
    # en fonction de leur durée.
    #
    # On distingue les travaux s'achevant et les travaux se
    # poursuivant.
    continuing = ipday.continuing_works
    acheving  = continuing.select{|wid,wdata| wdata[:reste] == 0}
    poursuing = continuing.reject{|wid,wdata| wdata[:reste] == 0}
    %>
    <div id="works_ON_pday">
      <h4>Travaux s'achevant aujourd'hui</h4>
      <% acheving.each do |wid, wdata| %>
        <%= wdata[:instance].as_card(from: wdata[:diff]) %>
      <% end %>
      <h4>Travaux se poursuivant</h4>
      <% poursuing.each do |wid, wdata| %>
        <%= wdata[:instance].as_card(from: wdata[:diff]) %>
      <% end %>
    </div>
  </div>
</div>


<%
# Bandeau de navigation, sous la fenetre

%>
<div id="dad_navigation">
  <%=
    (
      Unan::DAD::lien_works_map +
      Unan::DAD::lien_pdays_map +
      Unan::DAD::checkbox_fenetre_fixe
    ).in_div(class:'btns fleft small') %>
  <%
  prev_ipday = ipday.id - 1
  prev_visibility = prev_ipday > 0 ? "visible" : "hidden"
  iem = prev_ipday == 1 ? "er" : "e"
  prev_num = "#{prev_ipday}<sup>#{iem}</sup>".in_span(class:'tiny')
  next_ipday = ipday.id + 1
  next_visibility = next_ipday < 366 ? "visible" : "hidden"
  next_num = "#{next_ipday}<sup>e</sup>".in_span(class:'tiny')
  %>
  <%= "#{prev_num} ◀️".in_a(class:'btnnav', style:"visibility:#{prev_visibility}", href:"unan_admin/day_after_day?pday=#{prev_ipday}") %>
  <%= Unan::DAD::menu_jours %>
  <%= "▶️ #{next_num}".in_a(class:'btnnav', style:"visibility:#{next_visibility}",href:"unan_admin/day_after_day?pday=#{next_ipday}") %>
</div>


<%
# Si les paramètres le demandent il faut bloquer la fenêtre
# au rechargement
%>
<script type="text/javascript">
$(document).ready(function(){
  UI.bloquer_la_page(true)
})
</script>

<div class="small">
  <h3>Explications</h3>
  <p>
    Ce module permet de consulter le programme UN AN UN SCRIPT jour
    après jour.
  </p>
  <p>
    Les tâches (works) entourées d'un cadre vert sont les tâches démarrées
    le jour courant.
  </p>
  <p>
    Les tâches entourées d'un cadre rouge sont les tâches commencées les
    jours précédants et qui doivent être achevées le jour courant.
  </p>
</div>
