<%
# Panneau des préférences
#
# C'est notamment dans ce panneau qu'on définit le rythme de travail


%>
<% if missing_data(:preferences) %>
  <span class="warning small">Des données sont manquantes pour les préférences. Merci de les renseigner (<%= missing_data(:preferences) %>).</span>
<% end %>
<form class="dim2080" action="bureau/home?in=unan&cong=preferences" method="POST">


  <%# OPÉRATION %>
  <%= "bureau_save_preferences".in_hidden(name:'operation') %>

  <%= bureau.submit_button %>
<hr />
<h4>Projet</h4>

<%# RYTHME DU PROGRAMME %>
  <%= form.field_select("Rythme", 'rythme', user.program.rythme, { values:Unan::Program::RYTHMES }) %>
  <%= form.field_description("Le rythme déterminera la durée totale de votre apprentissage et de votre développement. Vous ne devriez avoir à modifier cette valeur que si vous vous apercevez que la démarche générale est trop rapide pour vous ou trop lente.") %>
<%= bureau.submit_button %>
<hr />

<%
# ---------------------------------------------------------------------
%>
<h4>Notifications</h4>


<%# TODO RECEVOIR UN MAIL QUOTIDIEN OU SEULEMENT AU CHANGEMENT DE TRAVAIL %>
<%# Préciser que le mail quotidien permet d'avoir un récapitulatif journalier %>

<%= bureau.submit_button %>
<hr />

<%
# ---------------------------------------------------------------------
%>
<h4>Navigation</h4>

  <%= form.field_checkbox("Rejoindre le bureau “Un An Un Script” après identification", "pref_bureau_after_login", user.preference(:bureau_after_login)) %>


<%= bureau.submit_button %>
<hr />

<%
# ---------------------------------------------------------------------
%>

<h4>Partage</h4>

    <%= bureau.row_form_sharing %>

<%= bureau.submit_button %>
</form>
