<%
# Panneau des préférences
#
# C'est notamment dans ce panneau qu'on définit le rythme de travail
%>
<% if missing_data.nil_if_empty %>
  <span class="warning small">Des données sont manquantes pour les préférences. Merci de les renseigner (<%= missing_data %>).</span>
<% end %>
<form id="preferences" class="dim2080" action="bureau/home?in=unan&cong=preferences" method="POST">


  <%# OPÉRATION %>
  <%= "bureau_save_preferences".in_hidden(name:'operation') %>

  <%= bureau.submit_button %>
<hr />
<h4>Projet</h4>

<%# RYTHME DU PROGRAMME %>
  <%= form.field_select("Rythme", 'pref_rythme', user.preference(:rythme), { values:Unan::Program::RYTHMES }) %>
  <%= form.field_description("Le rythme déterminera la durée totale de votre apprentissage et de votre développement. Vous ne devriez avoir à modifier cette valeur que si vous vous apercevez que la démarche générale est trop rapide pour vous ou trop lente.") %>
<%= bureau.submit_button %>
<hr />

<%
# ---------------------------------------------------------------------
%>
<h4>Notifications</h4>


  <%= form.field_checkbox("Récapitulatif journalier", 'pref_daily_summary', user.preference(:daily_summary)) %>
  <%= form.field_description("Si vous cochez cette case, un mail vous sera envoyé quotidiemment pour faire un point sur votre avancée. Dans le cas contraire, vous ne recevrez un mail que lorsqu'en cas de nouveau travail à fournir.") %>

  <%= form.field_checkbox("Pastille taches dans l'entête de page", 'pref_pastille_taches', user.preference(:pastille_taches)) %>
  <%= form.field_description("Si vous cochez cette case, une pastille indiquant le nombre de tâches à exécuter s'affichera toujours en haut à droite de votre fenêtre. En cliquant dessus, vous pourrez rejoindre votre bureau à tout moment.") %>
<%= bureau.submit_button %>
<hr />

<%
# ---------------------------------------------------------------------
%>
<h4>Navigation</h4>

  <%= form.field_checkbox("Rejoindre ce bureau après identification", "pref_bureau_after_login", user.preference(:bureau_after_login)) %>


<%= bureau.submit_button %>
<hr />

<%
# ---------------------------------------------------------------------
%>

<h4>Partage</h4>

    <%= bureau.row_form_sharing %>

<%= bureau.submit_button %>
</form>
