<%
# Panneau des préférences
#
# C'est notamment dans ce panneau qu'on définit le rythme de travail


%>
<form class="form2080" action="bureau/home?in=unan" method="POST">
  <%= bureau.submit_button %>
<hr />
<h4>Projet</h4>

<%# RYTHME DU PROGRAMME %>
  <%= form.field_select("Rythme", 'rythme', nil, {values:[[0,"Lent"],[5,"Normal"], [9,"Rapide"]]}) %>
  <%= form.field_description("Le rythme déterminera la durée totale de votre apprentissage et de votre développement. Plus le rythme est lent, plus la durée sera longue. Un rythme normal correspond à un “jour-programme” par jour réel, le rythme le plus rapide correspond à deux jours-programme par jour réel et le rythme le plus lent correspond à 2 jours réels par jour-programme.") %>
<%= bureau.submit_button %>
<hr />
<h4>Notifications</h4>


<%# TODO RECEVOIR UN MAIL QUOTIDIEN OU SEULEMENT AU CHANGEMENT DE TRAVAIL %>
<%# Préciser que le mail quotidien permet d'avoir un récapitulatif journalier %>

  <%= bureau.submit_button %>
  <hr />

  <%= bureau.submit_button %>
</form>
