<%
# Panneau de l'état général
%>
<div class="dim3070">

  <div id="div_mark_pday_points" class="row">
    <span class="libelle mark_pday">Jour-programme</span>
    <span class="value mark_fort" id="mark_pday"><%=
      nb = user.program.current_pday(:nombre)
      er = nb == 1 ? 'er' : 'e'
      "#{nb}<sup>#{er}</sup>"
      %></span>
      <span class="libelle mark_points">Points</span>
      <span class="value mark_fort" id="mark_points"><%= user.total_points_program %></span>
  </div>

  <div class="row">
    <span class="libelle">Programme débuté le</span>
    <span class="value"><%= user.program.created_at.as_human_date %></span>
  </div>
  <div class="row">
    <span class="libelle">Fin approximative</span>
    <span class="value"><%= user.program.fin_approximative(:human) %></span>
  </div>
  <div class="row">
    <span class="libelle">Rythme</span>
    <span class="value">
      Rythme <%= user.program.rythme_humain %>
    </span>
  </div>
  <div class="row">
    <span class="libelle"></span>
    <span class="value small">(vous pouvez le modifier dans le <%= bureau.lien_preferences('panneau des préférences') %>)</span>
  </div>
  <div class="row">
    <span class="libelle">Jour réel courant</span>
    <span class="value"><%= user.program.nombre_jour_reels_from_start(:human) %></span>
  </div>
  <div class="row">
    <span class="libelle">Jours-programme</span>
    <span class="value"><%= user.program.current_pday(:human) %>, reste <%= user.program.nombre_pdays_restants(:human) %></span>
  </div>
</div>
