<%
# Pour l'édition du fichier param(:path)
#
raise_unless_admin

%>
<div id="bande_superieure">
  <%= file.folder.in_input_text(id: 'folder_path')%>/<%= file.name.in_input_text(id: 'file_name')%>
</div>
<div id="boutons_edition">
  <%= boite_interaction %>
</div>
<form id="form_edit_text" action="site/edit_text" method="POST" charset="utf-8">
  <%= 'save_edited_text'.in_hidden(name:'operation') %>
  <%= 'site/edit_text'.in_hidden(name:'route') %>
  <%= (param(:path) || param(:file)[:path]).in_hidden(name: 'file[path]') %>
  <%= file.content.in_textarea(name: 'file[content]', id: 'file_content', onchange: "window.set_modified(true)") %>
  <%= 'Enregistrer'.in_button(class: 'btn', onclick:"$.proxy(EditText,'on_save_text')()").in_div(class: 'buttons') %>
</form>
