<%
# Édition/création d'un sujet

site.require 'form_tools'
form.prefix = "sujet"
form.objet  = sujet

# Barrière : l'utilisateur doit être le possesseur de ce
# sujet ou doit avoir un grade de 7 au moins
raise_unless user.id == sujet.creator_id || user.grade > 6

%>
<%= forum.titre_h1("Sujet/question (édition/création)", {onglets: true}) %>

<form class="dim2080" action="sujet/<%= sujet.id %>/edit?in=forum" method="POST">

  <%= "save_sujet".in_hidden(name:'operation') %>
  <%= sujet.id.in_hidden(name:'sujet[id]') %>

  <%# NAME %>
  <%= form.field_text("Nom/Titre/Question", 'name', nil) %>

  <%# TYPE %>
  <%= form.field_select("Type", 'type_s', sujet.type_s, {values:Forum::Sujet::TYPES}) %>
  <%= form.field_description("Le type va déterminer comment le sujet apparaitra.") %>

  <%# CATEGORIE %>
  <%= form.field_text("Catégorie", 'categorie',nil) %>
  <%= form.field_description("Grande catégorie du sujet, son titre.") %>

  <%= form.submit_button("Enregistrer") %>

</form>
