<%
# Vue pour poser une nouvelle question
raise_unless_identified
%>
<%= forum.titre_h1("Question") %>
<%

site.require 'form_tools'
form.prefix = "question"
form.objet  = param(:question)            || Hash::new
last_route  = param(:question_last_route) || site.route.last

%>

<%
div_explication = <<-HTML
Rédigez ci-dessous <strong>la question</strong> ou <strong>le sujet</strong> à soumettre aux membres du forum.
HTML
div_explication = div_explication.in_p(class:'small')

%>
<form class="dim2080" action="sujet/question?in=forum" method="POST">
  <%= "save_question".in_hidden(name: 'operation')          %>
  <%= last_route.in_hidden( name: 'question_last_route' )   %>
  <%= form.field_raw("", '', nil, {field: div_explication}) %>
  <%= form.field_text("Question/sujet", 'question', nil)    %>
  <%= form.field_select("Catégorie", 'categorie', nil, {values: Forum::Categorie::values_for_select}) %>
  <%= form.field_checkbox("M'avertir des réponses par mail", 'suivre', nil) %>
  <%= form.submit_button("Soumettre") %>
</form>
