<%
# Vue pour poser une nouvelle question
%>
<%= forum.titre_h2('Question/sujet') %>

<%
  if user.identified?
%>
<%

site.require 'form_tools'
form.prefix = "question"
form.objet  = param(:question)            || Hash.new
last_route  = param(:question_last_route) || app.session['last_route']

%>

<%
div_explication = <<-HTML
Rédigez ci-dessous <strong>la question</strong> ou <strong>le sujet</strong> à soumettre aux membres du forum.
HTML
div_explication = div_explication.in_p(class:'small')

%>
<form id="form_nouveau_sujet" class="dim2080" action="sujet/question?in=forum" method="POST">
  <%= "save_question".in_hidden(name: 'operation')          %>
  <%= last_route.in_hidden( name: 'question_last_route' )   %>
  <%= form.field_raw("", '', nil, {field: div_explication}) %>
  <%= form.field_text("Question/sujet", 'question', nil)    %>
  <%= form.field_select("Catégorie", 'categorie', nil, {values: Forum::Categorie::values_for_select}) %>
  <%= form.field_checkbox("M'avertir des réponses par mail", 'suivre', nil) %>
  <%= form.submit_button("Soumettre") %>
</form>

<%

else
  # ---------------------------------------------------------------------
  # Pour un user non identifié.
  # ---------------------------------------------------------------------
%>
<p class="red cadre">
  Par mesure de prudence, vous devez <%= lien.signup('être inscrit') %> pour pouvoir poser une question sur le forum (notez que cette <%= lien.signup('inscription') %> est gratuite).
</p>

<%

end

%>
