<%
# Vue pour le refus d'un sujet
raise_unless_admin
site.require 'form_tools'
form.prefix = "refus"
isujet = site.objet
%>
<%= forum.titre_h2("Administration sujets") %>
<p class='small italic'>Merci d'indiquer ici la raison du refus de cette question/sujet.</p>
<p class="bold">
  <%= isujet.name %>
</p>
<form class="dim3070" action="sujet/<%= isujet.id %>/refuser?in=forum" method="POST">
  <%= "refuser_sujet".in_hidden(name:'operation', id:'operation') %>
  <%=
    Forum::Sujet::DATA_REFUS.collect do |kid, kdata|
      form.field_checkbox( kdata[:raison], kid.to_s, nil )
    end.join
  %>
  <%= form.submit_button("Refuser ce sujet/question") %>
</form>
<p class='tiny discret'>
  Pour ajouter une raison, éditer le fichier <%= lien.edit_file('/Users/philippeperret/Sites/WriterToolbox/objet/forum/sujet/refuser.rb') %>.
</p>
