<%
# Tableau de bord du forum
raise_unless_admin
%>
<%= forum.titre_h2("Administration") %>
<h3>Messages à valider</h3>
  <%= forum.ul_messages_a_valider %>
<h3>Questions/sujets à valider</h3>
  <%= forum.ul_sujets_a_valider %>
<ul class='tdm'>
  <h3>Grade des membres</h3>
    <%= "Gestion des membres du forum".in_a(href:'user/statut?in=forum').in_li %>
  <h3>Synchronisation</h3>
    <%= "Synchronisation local/serveur".in_a(href:"forum/synchro").in_li %>
</ul>
