<%
# Accueil du forum
%>
<%= forum.titre_h1("Accueil") %>
<%= forum.onglets %>
<p>
  Bienvenue sur <strong>le forum d'écriture de la Boite à outils de l'auteur</strong>. <span class='small'>Ce forum est privé, il possède un haut niveau de modération et se trouve constitué d'auteurs professionnels et amateurs.</span>
</p>
<%

# ---------------------------------------------------------------------
# Si identifié
if user.identified?


%>
<p>Votre grade sur le forum est : <strong><%= user.grade_humain %></strong>.
<span class='small'>En tant que <%= user.grade_humain %>, vous pouvez <%= user.privileges_forum %>.</span></p>

<%
if user.grade >= 5
%>
<%
end # si grade >= 5
%>
<%

  # / Si identifié
  # ---------------------------------------------------------------------
else
  # ---------------------------------------------------------------------
  #   Si non identifié
%>
  <p>Vous n'êtes ni identifié <%= site.lien_signup("ni abonné") %>, vous ne pouvez donc profiter que des ressources limitées du forum privé de <strong>La Boite à Outils de l'Auteur</strong>.</p>
<%


end

%>

<% forum.last_posts(as = :li) %>
