<%
# Accueil du forum

# if user.admin? && user.grade != 9
#   user.set_grade(9)
#   debug "J'ai mis le grade de l'administrateur à 9"
# end

%>
<h1>Forum</h1>
<p>
  Bienvenue sur le forum d'écriture. <span class='small'>Forum privé, à haut niveau de modération, constitué d'auteurs professionnels et amateurs.</span>
</p>
<%

# ---------------------------------------------------------------------
# Si identifié
if user.identified?


%>
<p>Votre grade sur le forum est : <%= user.grade_humain %>.
<span class='small'>En tant que <%= user.grade_humain %>, vous pouvez <%= user.privileges_forum %>.</span></p>

<%
if user.grade >= 5
%>
<%
end # si grade >= 5
%>
<p class='right'>
  <%= "Sujets".in_a(href:'sujet/list?in=forum') %>
  <span> | </span>
  <%= "Messages".in_a(href:'post/list?in=forum') %>
  <span> | </span>
  <%= "Vos préférences".in_a(href:"user/preferences?in=forum") %>
</p>
<%

  # / Si identifié
  # ---------------------------------------------------------------------
else
  # ---------------------------------------------------------------------
  #   Si non identifié
%>
<p>
  Vous n'êtes ni identifié <%= site.lien_signup("ni abonné") %>, vous ne pouvez donc pas profiter des ressources d'écriture du forum privé de <strong>La Boite à Outils de l'Auteur</strong>.
</p>
<%


end

%>

<% forum.last_posts %>
