<%
# Vue pour le paiement de l'inscription au programme UN AN UN SCRIPT
#
# NOTE : C'est le module `paiement.rb` au même niveau que ce fichier
# qui appelle la méthode `make_transaction` qui permet de procéder
# au paiement du programme.
%>
<%= Unan::titre_h1 %>

<% if user.unanunscript? %>
  <p>Vous êtes déjà inscrit<%= f_e %> à ce programme, vous ne devriez pas avoir à repasser par ici ;-)…</p>
<% else %>
  <h2>Inscription</h2>
  <% if user.subscribed? %>
    <%= user.check_abonnement %>
    <%= site.paiement.output %>
  <% elsif user.identified? %>
    <p>Vous êtes enregistré<%= f_e %> sur le site, mais vous n'avez pas d'abonnement courant. En conséquence, notez que l'inscription au programme “Un An Un Script” offre automatiquement <strong>deux ans d'abonnement</strong> au site pour une utilisation complète de <a href="tool/list" target="_new">tous les outils</a>.</p>
    <%= site.paiement.output%>
  <% else %>
    <%
      # Dans le cas où l'user n'est pas encore inscrit sur le site,
      # c'est une inscription complète, avec paiement de l'inscription
      # entière au programme.
      # On doit donc trouver le formulaire d'inscription et le bouton de
      # paiement paypal, ou alors le formulaire d'inscription qui renverra
      # vers le paiment paypal en fin de processus. Donc un renvoi ici par
      # la route "user/paiement?in=unan"
    %>
    <p class='small'>L'inscription au programme “Un An Un Script” vous abonne aussi pendant deux ans au site et vous offre donc un accès complet à tous les autres outils. Merci de bien vouloir remplir le formulaire ci-dessous.</p>
    <%=
      app.require_optional '_per_route/user/signup'
      page.view('user/signup')
    %>
  <% end %>
<% end %>
