<% raise_unless user.analyste? || user.admin? %>
<%
# Section permettant à un analyse de déposer un fichier d'analyse

page.title = "Chantier analyses : dépôt"
page.description= "Chantier des analyses de films, pour traiter les fichiers de collecte des analystes."
enable_comments

%>
<%= AnalyseBuild.titre_h1('Dépôt d’analyse')%>

<% if user.admin? || user.analyste? %>
  <%= Analyse::Depot.output_as_analyste %>
  <%= chantier.suivi %>
  <%# L'ÉVÈNEMENCIER S'IL EXISTE %>
  <% if chantier.scenes_html_file.exist? %>
    <h3>Évènemencier complet</h3>
    <%= chantier.scenes_html_file.read %>
  <% end %>
<% else %>
  <%= Analyse::Depot.output_as_common_user %>
<% end %>
