<%
# Vue pour proposer un mot

enable_comments
%>
<%= Scenodico::titre_h1("Proposer un nouveau mot") %>
<% if user.identified? %>
  <% if Scenodico::proposition_ok %>
    <%
    # La proposition a été retenue et un mail a été envoyé à
    # l'administration pour ajouter le mot. On affiche un message
    # de remerciement à l'utilisateur.
    %>
    <p class='big air'>
      Merci <%= user.pseudo %> pour cette proposition de mot. Phil devrait l'ajouter très prochainement au <strong>Scénodico</strong>.
    </p>
  <% else %>
    <%
    # L'user est identifié, on peut lui afficher un formulaire lui
    # permettant de soumettre un nouveau mot.
    %>
    <%
      site.require 'form_tools'
      form.prefix = "newmot"
    %>
    <p class='discret small'>
      Avant de proposer un nouveau mot, assurez-vous qu'il ne se trouve pas déjà dans le <%= "Dictionnaire".in_a(href:'scenodico/list') %> ;-).
    </p>
    <form class="dim3070" action="scenodico/proposer" method="POST" accept-charset="utf8">
      <%= "proposer_mot".in_hidden(name:'operation', id:'operation') %>
      <%= form.field_text("Mot", 'mot', nil, {class:'milong'}) %>
      <%= form.submit_button("Proposer ce mot") %>
    </form>
  <% end %>
<% else %>
  <%
  # L'user est inconnu (pas identifié), on lui indique qu'il doit
  # s'identifier ou s'inscrire pour pouvoir proposer un nouveau
  # mot.
  %>
  <p>
    Pour proposer un nouveau mot, vous devez <%= lien.signin( "vous identifier", back_to: route_courante )%> ou <%= lien.signup "vous inscrire" %>.
  </p>
<% end %>
