<%
# Affichage de la définition d'un mot
page.description= "Affichage d'un mot du dictionnaire d'écriture, pour connaitre tous les termes de l'auteur : le <strong>Scénodico</strong>."

enable_comments
%>
<%
def mot
  @mot ||= site.objet
end

# Pour tout charger d'un coup
mot.get_all
# debug "mot : #{mot.data.pretty_inspect}"

lien_edit =
  if user.admin?
    "[Edit]".in_a(href:"scenodico/#{mot.id}/edit", class:'small')
  else
    ''
  end

lien_code =
  if user.admin?
    '[code]'.in_a(onclick:"UI.clip({'Code': 'MOT[#{mot.id}|#{mot.mot.downcase}]'})")
  else
    ''
  end

disp_word = (user.admin? ? ("[##{mot.id}]".in_span(class:'tiny', style:'vertical-align:super') + " ") : "") + mot.mot

def build_row libelle, contenu
  return "" if contenu.nil?
  (
    libelle.in_span(class:'libelle') +
    contenu.in_span(class:'value')
  ).in_div(class:'row')
end
%>
<%= Scenodico.titre_h2 %>
<%= (lien_edit + lien_code).in_div(class: 'fright small') %>
<h2><%= disp_word %></h2>
<div class="dim4060">
  <%= mot.definition_formated.in_div(id:'mot_definition') %>
  <%= build_row("Relatifs",   mot.relatifs_formated) %>
  <%= build_row("Contraires", mot.contraires_formated) %>
  <%= build_row("Synonymes",  mot.synonymes_formated) %>
  <%= build_row("Catégories", mot.hcategories) %>
  <%= build_row("Liens",      mot.liens_formated) %>
</div>
