<%
# Vue pour la recherche dans les films
page.title= "Filmodico"
page.description= "Recherche parmi tous les films du <strong>Filmodico</strong>."
enable_comments
%>

<%= Filmodico.titre_h2("Recherche") %>
<%
site.require 'form_tools'
form.prefix = "filmsearch"
%>

<%
  # S'il y a un résultat de recherche, il faut masquer le formulaire

%>
<%= "Autre recherche".in_a(href:'filmodico/search', class: "#{Filmodico.resultat? ? '' : 'noDisplay'}").in_div(class:'right') %>
<form id="filmodico-search-form" class="dim2080 air<%= Filmodico.resultat? ? ' noDisplay' : ''%>" action="filmodico/search" method="POST" accept-charset="utf8">
  <%= "proceed_search".in_hidden(name:'operation', id:'operation') %>
  <%= form.field_text("Rechercher…", 'sought') %>
  <%= form.field_checkbox("Rechercher dans les titres originaux", 'in_titre') %>
  <%= form.field_checkbox("Rechercher dans les titres français", 'in_titre_fr') %>
  <%= form.field_checkbox("Rechercher dans les résumés", 'in_resume') %>
  <%= form.field_checkbox("Rechercher dans les personnes", 'in_people') %>
  <% menu_before = (1900..(Time.now.year+4)).in_select(name:'filmsearch[year_before]')%>
  <%= form.field_checkbox("Rechercher les films produit avant ", 'films_before', nil, {text_after: menu_before }) %>
  <% menu_after = (1900..Time.now.year).in_select(name:'filmsearch[year_after]')%>
  <%= form.field_checkbox("Rechercher les films produit après ", 'films_after', nil, {text_after: menu_after }) %>
  <%= form.submit_button("Chercher !") %>
</form>

<%= Filmodico.resultat_recherche %>
