<%
# Console administrateur
#
raise_unless_admin

# POUR LES SNIPPETS
page.add_javascript((site.folder_deeper_javascript+"optional/Snippets_1.1.js").to_s)

%>

<%
# ---------------------------------------------------------------------
#   LA CONSOLE
reduite = console.special_output != ""
%>
<form action="admin/console" method="POST" charset="UTF-8">
<textarea onfocus="this.select()" id="console" class='<%= reduite ? 'reduite' : '' %>' name="console" onreturn="this.form.submit()"><%= console.code_console %></textarea>
</form>
<span id="longueur_code"></span>
<%
# Pour afficher notamment l'aide à la volée, après détection de la
# commande courante générique.
%>
<pre id="aide" style="font-size:11pt"></pre>
<%
#
# ---------------------------------------------------------------------
%>

<%= "Penser à utiliser `aide &lt;sujet&gt;` pour obtenir de l'aide sur un sujet, `aide sujets` pour obtenir la liste des sujets.".in_span(class:'tiny') %>
<div id="special_output"><%= console.special_output %></div>

<div class="right">
  <%= "Aide".in_a(onclick:"$('div#console_aide').toggle()") %>
</div>
<div id="console_aide" style="display:none">
  <p>
    Pour obtenir de l'aide, taper `<code>help</code>` ou `<code>aide</code>` dans la console ou `<code>help|aide &lt;sujet&gt;</code>`.
  </p>
  <p>
    Pour obtenir la liste des sujets, utiliser `<code>help|aide sujets</code>`.
  </p>
</div>
