<%
# Console administrateur
#
raise_unless_admin
%>
<% debug "-> console.erb" %>
<h1>Console</h1>
<form action="admin/console" method="POST" charset="UTF-8">
<textarea id="console" name="console" onreturn="this.form.submit()"><%= console.new_code %></textarea>
</form>

<%= console.output %>
<div id="special_output"><%= console.special_output %></div>

<div class="right">
  <%= "Aide".in_a(onclick:"$('div#console_aide').toggle()") %>
</div>
<div id="console_aide" style="display:none">
  <%= console.help %>
</div>
<% debug "<- console.erb" %>
