<%
# Vue principale pour le tableau de bord d'administration
raise_unless_admin

def synchronisation_scenodico
  return "" unless user.manitou?
  "Synchronisation…".in_a(href:"scenodico/synchro")
end
def synchronisation_filmodico
  return "" unless user.manitou?
  "Synchronisation…".in_a(href:"filmodico/synchro")
end
def synchronisation_narration
  return "" unless user.manitou?
  "Synchronisation…".in_a(href:'cnarration/synchro')
end
def synchronisation_forum
  return "" unless user.manitou?
  "Synchronisation…".in_a(href:'forum/synchro')
end
%>
<%= Admin::titre_h1 %>
<p class='small italic discret'>Bienvenue dans le tableau de bord de l'administration du site.</p>

<div id="admin_tools">
  <%= "Console".in_a(href:'admin/console').in_div(class:'admin_tool') %>
  <%=
    (
      "Scénodico (édition)".in_a(href:'scenodico/edit') +
      synchronisation_scenodico
    ).in_div(class:'admin_tool') %>
  <%=
    (
      "Filmodico (édition)".in_a(href:'filmodico/edit') +
      synchronisation_filmodico
    ).in_div(class:'admin_tool') %>
  <%=
    (
      "Narration (page)".in_a(href:'page/edit?in=cnarration') +
      synchronisation_narration
    ).in_div(class:'admin_tool') %>
  <%=
    (
      "Forum".in_a(href:'forum/dashboard') +
      synchronisation_forum
    ).in_div(class:'admin_tool')
   %>
   <%=
    (
      "Analyses".in_a(href:'admin/dashboard?in=analyse')
    ).in_div(class:'admin_tool')
   %>
   <% if OFFLINE %>
    <%=
      (
        "Synchro générale".in_a(href:"admin/sync")
      ).in_div(class:'admin_tool')
    %>
    <%=
      (
        "Synchro taches".in_a(href:'admin/taches_synchro')
      ).in_div(class:'admin_tool')
    %>
   <% end %>
</div><%# div#admin_tools %>

<%
# ---------------------------------------------------------------------
#
# Partie propre à chaque administrateur s'il possède un fichier dans
# le dossier ./objet/admin/admins/<user-id>-<pseudo>
#
%>
<% if user.has_own_dashboard? %>
  <%= Vue::new(user.dashboard_path.to_s.sub(/^\.\/objet\//,'')).output %>
<% end %>
