<%
# Vue principale pour le tableau de bord d'administration
raise_unless_admin
%>
<%= Admin::titre_h1 %>
<p class='small italic discret'>Bienvenue dans le tableau de bord de l'administration du site.</p>

<div id="admin_tools">
  <%= "Console".in_a(href:'admin/console').in_div(class:'admin_tool') %>
  <%=
    (
      "Scénodico (édition)".in_a(href:'scenodico/edit') +
      "Synchronisation…".in_a(href:"scenodico/synchro")
    ).in_div(class:'admin_tool') %>
  <%=
    (
      "Filmodico (édition)".in_a(href:'filmodico/edit') +
      "Synchronisation…".in_a(href:"filmodico/synchro")
    ).in_div(class:'admin_tool') %>
  <%= "Narration (page)".in_a(href:'page/edit?in=cnarration').in_div(class:'admin_tool') %>
  <%=
    (
      "Forum".in_a(href:'forum/dashboard') +
      "Synchronisation…".in_a(href:'forum/synchro')
    ).in_div(class:'admin_tool')
   %>
</div><%# div#admin_tools %>
