<%
# Vue principale pour le tableau de bord d'administration
raise_unless_admin
%>
<%= Admin.titre_h1 %>

<p class='small italic discret'>Bienvenue dans le tableau de bord d'administration du site.</p>

<%
# On affiche les différents outils OFFLINE que si c'est moi
    if user.phil?
%>
    <div id="admin_tools">
	<%= "Console".in_a(href:'admin/console').in_div(class:'admin_tool') %>
  <%=
  (
    'Commentaires de pages'.in_a(href:'page_comments/list?in=site')
  ).in_div(class:'admin_tool')

  %>
	<% if OFFLINE %>
	    <%= 'Forum'.in_a(href:'forum/dashboard').in_div(class:'admin_tool') %>
	    <%= 'Analyses'.in_a(href: 'admin/dashboard?in=analyse').in_div(class:'admin_tool') %>
	    <%= 'Bitly'.in_a(href: 'https://app.bitly.com/bitlinks/1TkHhvC', target: :new).in_div(class:'admin_tool') %>
	    <%= 'Mailing'.in_a(href: 'admin/mailing', target: :new).in_div(class:'admin_tool') %>
      <%= 'Sitemap'.in_a(href: 'site/sitemap').in_div(class: 'admin_tool') %>
      <%= 'Cron Report'.in_a(href: 'admin/cron_report', target: :new).in_div(class: 'admin_tool')%>
      <%= 'Synchro RestSite'.in_a(href: 'admin/sync_restsite', target: :new).in_div(class: 'admin_tool')%>
	<% end %>
  <%= 'Visit as…'.in_a(href: 'admin/visit_as', target: :new).in_div(class: 'admin_tool')%>
  <%= 'DATABASES'.in_a(href: 'database/edit', target: :new).in_div(class: 'admin_tool')%>
</div><%# /div#admin_tools %>

<%
end # si user.phil?
%>

<%
# ---------------------------------------------------------------------
#
# Partie propre à chaque administrateur s'il possède un fichier dans
# le dossier ./objet/admin/admins/<user-id>-<pseudo>
#
# Note : Je ne la mets pas dans un elsif pour pouvoir la voir
# aussi.
%>
<% if user.has_own_dashboard? %>
  <%= Vue.new(user.dashboard_path.to_s.sub(/^\.\/objet\//,'')).output %>
<% end %>
