<%
# Vue principale pour le tableau de bord d'administration
raise_unless_admin
%>
<%= Admin::titre_h1 %>
<p class='small italic discret'>Bienvenue dans le tableau de bord de l'administration du site.</p>

<%= "Console".in_a(href:'admin/console').in_div(class:'border air inline') %>
<%=
  (
    "Scénodico (édition)".in_a(href:'scenodico/edit', class:'block') +
    "Synchronisation…".in_a(href:"scenodico/synchro", class:'block')
  ).in_div(class:'border air inline') %>
<%=
  (
    "Filmodico (édition)".in_a(href:'filmodico/edit', class:'block') +
    "Synchronisation…".in_a(href:"filmodico/synchro", class:'block')
  ).in_div(class:'border air inline') %>
<%= "Narration (page)".in_a(href:'page/edit?in=cnarration').in_div(class:'border air inline') %>
