<%
# Panneau de gestion de toutes les synchronisations
#
# Ce panneau permet de voir les fichiers à synchroniser et à gérer
# leur synchronisation.
# Seuls les fichiers de l'application ne sont pas testés par ce programme
raise_unless_admin
%>
<h1>Synchronisation</h1>
<%
# Si une opération est à faire, il faut l'invoquer
#
if site.current_route.route == "admin/sync" && param(:operation) != nil
  methode = param(:operation).to_sym
  if sync.respond_to?( methode )
    debug "--> #{methode}"
    sync.send(methode)
  end
end

%>

<form class="dim2080" action="admin/sync" method="POST">
  <div class="small right btns">
    <span>Cocher :</span>
    <%= 'tout'.in_a(onclick: 'Sync.coche_all()') %>
    <%= 'rien'.in_a(onclick: 'Sync.decoche_all()') %>
    <%= 'inverse'.in_a(onclick: 'Sync.inverse_all()') %>
  </div>
  <%= 'synchroniser'.in_hidden(name:'operation') %>
  <%=
  [
    ['les actualisations', 'updates'],
    ['les tâches',    'taches'],
    ['les tweets permanents', 'tweets'],
    ['les citations', 'citations'],
    ['la Collection Narration', 'narration'],
    ['le programme UN AN UN SCRIPT', 'uaus'],
    ['les analyses de films', 'analyses'],
    ['le Scénodico', 'scenodico'],
    ['le Filmodico (+ affiches)', 'filmodico'],
    ['le forum (inutile, normalement) (À IMPLÉMENTER)', 'forum']
  ].collect do |choses, key|
    is_checked = param("sync_#{key}".to_sym) == 'on'
    "Synchroniser #{choses}".in_checkbox(name: "sync_#{key}", class: 'cbsync', checked: is_checked).in_div
  end.join('').in_div(id: 'liste_synchros')
  %>
  <%= 'Synchroniser'.in_submit(class:'btn').in_div(class: 'buttons') %>
</form>


<%=
  # La sortie de la synchronisation, son résultat
  sync.output %>

<%
# ---------------------------------------------------------------------
#   Explication du fonctionnement de la section
# ---------------------------------------------------------------------
%>
<hr>
<div class="small">
<h3>Explication et mode d'emploi</h3>
<p>
  Cette section permet de synchroniser tout ce qui peut l'être au niveau des fichiers non traités par la synchronisation normale.
</p>
<p>
  Elle traite les synchronisations spéciales qui nécessitent un traitement des données ONLINE/OFFLINE comme par exemple la table narration (`cnarration.db`) qui doit conserver les données de niveaux de développement qui peuvent être modifiées online ou offline et être synchronisé également sur Icare. Ou encore la liste des tâches (dans `site_hot.db`) qui peut être modifiée aussi online ou offline. Ou enfin la table des films analysés dont les propriétés `sym` peuvent avoir été modifiées ONLINE.
</p>
<p>
  Elle gère aussi la synchronisation avec l'atelier Icare, au niveau du Scénodico, du Filmodico et de Narration (collection).
</p>
<p>
  Elle gère aussi la synchronisation des affiches de films, aussi bien sur BOA que sur ICARE.
</p>
</div><!-- fin div principal small -->
