<%
# Vue pour un user identifié et/ou administrateur
%>
<h1><%= user.id == id ? "Votre profil" : "Profil de #{pseudo}" %></h1>
<%
def div_row libelle, value, options = nil
  options ||= Hash::new
  options.merge!(class:'row')
  (
    libelle.in_span(class:'libelle') +
    value.in_span(class:'value')
  ).in_div(options)
end
def mark_subscribed
  return OUI if subscribed?
  "#{NON} #{lien.subscribe('(S’abonner)', class:'small')}"
end
def mark_unanunscript
  return OUI if unanunscript?
  "#{NON} #{lien.subscribe_unanunscript('(S’inscrire)', class:'small')}"
end
def info_unan
  @info_unan ||= lien.aide(6, class:'fright')
end
def mark_forum
  @mark_forum ||= lien.aide(5, class:'fright')
end
def why_subscribe
  @why_subscribe ||= lien.aide(3, class:'fright')
end
def lien_modifier_mdp
  @lien_modifier_mdp ||= 'Modifier le mot de passe'.in_a(href:'user/change_mdp')
end
%>

<h3>Identité</h3>

<div class="dim3070">
  <%= div_row('Pseudo'        , pseudo ) %>
  <%= div_row('Inscription'   , created_at.as_human_date(true, true) ) %>
  <%= div_row('Grade forum'   , mark_forum + grade_humain ) %>
  <%= div_row('Abonné'        , why_subscribe + mark_subscribed) %>
  <%= div_row('Un an un script', info_unan + mark_unanunscript ) %>
  <%= div_row('Mot de passe', lien_modifier_mdp) %>
  <%= div_row('Session ID'    , session_id, {class:'small'} ) %>
</div>

<%
# ---------------------------------------------------------------------
#   FORUM
# ---------------------------------------------------------------------
%>
<h3>Forum</h3>
<p>Vous n'avez aucun message en attente.</p>
<p>Vous n'avez aucune question en attente.</p>

<%
# ---------------------------------------------------------------------
#   UN AN UN SCRIPT
# ---------------------------------------------------------------------
%>
<h3>Programme <%= UN_AN_UN_SCRIPT %></h3>
<% if unanunscript? %>
  <%= "→ Rejoindre votre centre de travail".in_a(href:'bureau/home?in=unan').in_div(class:'right') %>
<% else %>
  <p>Vous ne suivez pas le <%= lien.unanunscript %>.</p>
<% end %>

<%
# ---------------------------------------------------------------------
#   PRÉFÉRENCES
# ---------------------------------------------------------------------
%>
<h3>Préférences</h3>
<form action="user/<%= user.id %>/profil" method="POST">
  <%= 'save_preferences'.in_hidden(name:'operation') %>
  <ul>
    <%= ("Recevoir le mail des dernières actualités #{menu_mail_updates}" + lien.aide(4)).in_li %>
    <%= ("Après l'identification, rejoindre #{menu_goto_after_signin}" + lien.aide(1)).in_li %>
  </ul>
  <%= "Enregistrer".in_submit(class: 'btn small discret').in_div(class: 'buttons') %>
</form>

<% if user.admin? %><%= sous_vue('admin') %><% end %>

<h3>Destruction du compte</h3>

<div class="right air air">
  <%= "Détruire le compte".in_a(href:"user/#{id}/destroy", class:'btn warning discret') %>
</div>
